@import "breakpoints";

.student-info {

  &.mission {
    background-image: url('~src/styles/ressources/backgrounds/background-halftone-one-stroke-xs.svg'), linear-gradient(-45deg, #d4004b 0%, #a10018 50%);
  }
  &.about {
    background-color: #ffffff;
  }
  &.advantages {
    background-color: rgb(30,174,156);
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    margin: 0 2%;

    .gc-video {
      iframe {
        height: 200px;
        width: 100%;
      }
    }
    .card-container {
      margin: 0 0 25px 0;

      .card {
        border: 1px solid #f9f9f9;
        background-color: rgba(255,255,255,0.9);
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.02),
          0 6.7px 5.3px rgba(0, 0, 0, 0.028),
          0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042),
          0 41.8px 33.4px rgba(0, 0, 0, 0.05),
          0 100px 80px rgba(0, 0, 0, 0.07);

        .card-text {
          padding: 15px;
        }
        .blob {
          width: 100px;
          height: 100px;
          margin: 10px;
          border-right: 4px solid rgba(0,0,0,0.2);
          &.comic-header {
            font-size: 70px;
            -webkit-text-stroke: 2px #fff;
          }
          &.var-1 {
            background-color: rgb(30,174,156);
            border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
          }
          &.var-2 {
            background-color: rgb(214,47,135);
            border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
          }
          &.var-3 {
            background-color: rgb(0,160,201);
            border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
          }
          &.var-4 {
            background-color: rgb(181,92,156);
            border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
          }
        }

      }
    }
  }
  &.competence {
    background-color: #ffffff;

    figure {
      .pyramide {
        width: 70%;
        margin-top: 15px;
        margin-left: 15%;
      }
    }
  }
  &.ki {
    background-color: black;
    position: relative;
    color: #ffffff;

    .gc-bg-full-image {
      background-image: url(~src/styles/ressources/backgrounds/robot_web_1920x1080.jpg);
    }
  }
  &.project-cta {
    background-color: rgb(181, 92, 156);
    color: rgb(0,160,201);
  }
  .gc-image {

    .mobile-image {
      max-width: 375px;
      width: 100%;
      margin: auto;
    }
    .img-right {
      width: 100%;
      max-width: 100%;
      right: 0;
      position: relative;
      margin-left: 0;

      &.mobile-image {
        max-width: 375px;
        width: 100%;
        margin: auto;
      }
    }
    &.gc-bg-full-image {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position:absolute;
      top:0;
      bottom:0;
      right: 0;
      left: 0;
    }
  }
  figure {
    figcaption {

      &.caption-right,
      &.caption-center {
        font-style: italic;
        color: var(--color-primary-blue-dark);
        font-size: 14px;
        padding: 10px 0;
      }
      &.caption-center {
        text-align: center;
      }
      &.caption-right {
        text-align: center;
      }
    }
  }
  .text-bg {
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
  }

  @media(min-width: $xs) {
  }
  @media(min-width: $sm) {
    &.mission {
      background-image: url('~src/styles/ressources/backgrounds/background-halftone-one-stroke-sm.svg'), linear-gradient(-45deg, #d4004b 0%, #a10018 50%);
    }
    &.advantages {
      .card-container {
        .card {
          background-color: #ffffff;
        }
      }
    }
    .text-bg {
      padding: 15px;
      background-color: transparent;
    }
    .gc-image {

      &.gc-bg-full-image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position:absolute;
        top:0;
        bottom:0;
        right: 50%;
        left: 0;
      }
      .img-right {
        width: 50vw;
        max-width: 700px;
        left: 95%;
        position: relative;
        margin-left: -100%;
      }
    }
    figure {
      figcaption {
        &.caption-right {
          text-align: right;
        }
      }
    }
  }
  @media(min-width: $md) {
    &.mission {
      background-image: url('~src/styles/ressources/backgrounds/background-halftone-one-stroke-md.svg'), linear-gradient(-45deg, #d4004b 0%, #a10018 50%);

      .comic-header {
        font-size: 72px;
      }
    }
    &.advantages {
      .card-container {
        .card {
          min-height: 200px;

          .row {
            min-height: 200px;
          }
        }
      }
      .comic-header {
        font-size: 55px;
      }
    }
    &.project-cta {
      .comic-header {
        font-size: 55px;
      }
    }
  }
  @media(min-width: $lg) {
    &.mission {
      background-image: url('~src/styles/ressources/backgrounds/background-halftone-one-stroke-lg.svg'), linear-gradient(-45deg, #d4004b 0%, #a10018 50%);
    }
    &.advantages {
      .card-container {
        .card {
          min-height: 180px;

          .row {
            min-height: 180px;
          }
        }
      }
    }
  }
}

// additional scss for teacher page to be unified

.student-info.howtouse {
    background: #F9F9F9;

    .fs-blob {
        width: 100%;
        max-width: 100px;
        max-height: 100px;
        margin: 0 auto;
        border-right: 4px solid rgba(0,0,0,0.2);
        margin-top: -1rem;
        min-width: 70px;

        &.comic-header {
          font-size: 70px;
          -webkit-text-stroke: 2px #fff;
        }
        &.var-1 {
          background-color: rgb(30,174,156);
          border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
        }
        &.var-2 {
          background-color: rgb(214,47,135);
          border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
        }
        &.var-3 {
          background-color: rgb(0,160,201);
          border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
        }
        &.var-4 {
          background-color: rgb(181,92,156);
          border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
        }


      }
}

.teaching-example {
    color: #000;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 1%), 0 6.7px 5.3px rgb(0 0 0 / 2%), 0 12.5px 10px rgb(0 0 0 / 3%), 0 22.3px 17.9px rgb(0 0 0 / 3%), 0 41.8px 33.4px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 3%);

    a {
      font-weight: 500;
    }

    &-text {
      background: #f3f3f3;
    }

    img {
      max-width: 150px;
    }

    @media(min-width: $sm) {
      .teaching-imgcontainer {
        display:flex;
        align-items:center;
        justify-content:center;
      }
    }
}
