<manage-breadcrumb-header [linkText]="'course_list'"></manage-breadcrumb-header>

<div class="container">
  <div class="row mt-5">
    <div class="col-10">
      <h4>Kursverwaltung</h4>
    </div>
    <div class="col-2">
      <a type="button" class="float-right" [routerLink]="[lnkManageOfferNew]" >
        <fa-icon class="pl-2" [icon]="['fas', 'plus-circle']"></fa-icon>
      </a>
    </div>
    <div class="col-12 mt-3 offer-table">
      <fs-offer-table [offerList]="shortOfferList"></fs-offer-table>
    </div>
  </div>
</div>
