<section class="student-info mission py-md-5 py-4">

  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1 class="comic-header tech text-center">Skills für Deine Zukunft</h1>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>

<section class="student-info about py-md-5 pt-5 pb-5">

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <fs-consent-video src="https://www.youtube-nocookie.com/embed/YJ0Bq2ydAoU?start=4"></fs-consent-video>
      </div>
      <div class="col-12 col-lg-6 pt-4">
        <h2 class="h3">Über FutureSkills</h2>
        <p>FutureSkills ist eine gemeinsame Plattform der Hochschulen in Schleswig-Holstein,
          um digitales Lehren und Lernen voranzutreiben. Im Vordergrund stehen dabei Lernangebote zu digitalen
          Grundkompetenzen, die zukünftig in vielen Jobs gebraucht werden. Angebote und Inhalte wachsen ständig weiter!
        </p>
      </div>
    </div>
  </div>

</section>

<section class="student-info advantages pt-5 pb-5">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9">
        <h3 class="comic-header tech text-left">Vier Gründe, um FutureSkills zu nutzen, egal, wo und was Du studierst</h3>
      </div>
      <div class="col-12 col-lg-6 pt-md-4 pt-3">

        <div class="card-container">
          <div class="card">
            <div class="row">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3 class="comic-header tech text-center blob var-1">1</h3>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center">
                <div class="card-block">
                  <p class="card-text">Du findest interessante und kostenlose Online-Kurse, um Dich selbst weiterzubilden –
                    von vielen namhaften Hochschulen und Organisationen!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="row ">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3 class="comic-header tech text-center blob var-2">2</h3>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center">
                <div class="card-block">
                  <p class="card-text">In vielen Kursen kannst Du Zertifikate erwerben, die Dir z.B. bei Bewerbungen helfen.
                    (Manche Kurse werden Dir auch im Studium angerechnet).</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 pt-md-4">

        <div class="card-container">
          <div class="card">
            <div class="row ">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3 class="comic-header tech text-center blob var-3">3</h3>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center">
                <div class="card-block">
                  <p class="card-text">Unser FutureSkills-Kompetenzraster kann Dir helfen herauszufinden, in welchen Bereichen Du schon gut
                    aufgestellt bist und wo Du Deine Skills für die Zukunft noch ausbauen kannst.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="row ">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3 class="comic-header tech text-center blob var-4">4</h3>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center">
                <div class="card-block">
                  <p class="card-text">Lehrveranstaltungen an Deiner Hochschule werden interessanter und aktueller, wenn Lehrende
                    Inhalte auf der Plattform entdecken und einbinden. Deine Dozent*innen nutzen FutureSkills noch nicht?
                    Sprich sie doch mal darauf an!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<section class="student-info competence py-md-5 pt-4 pb-0">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-1">
        <h3>Das Kompetenzraster</h3>
        <p>Wir orientieren uns am Future-Skills-Framework des Stifterverbands für die Deutsche Wirtschaft
          (vgl. Kirchherr et al. 2018). Hier werden „Future Skills“ als Fähigkeiten definiert, die in den
          nächsten Jahren für das Berufsleben in allen Branchen und/oder für die gesellschaftliche Teilhabe
          wichtig werden, denn Digitalisierung und neue Arbeitsformen stellen Unternehmen und Gesellschaft vor
          einige Herausforderungen.</p>
          <p>Insgesamt beschreibt das Framework 18 Fähigkeiten in den Kategorien
          </p>
          <ul>
            <li>technologische Fähigkeiten,</li>
            <li>digitale Grundfähigkeiten und</li>
            <li>klassische Fähigkeiten.</li>
          </ul>

          <img class="img-fluid pyramide" src="assets/images/projekt-fs-pyramide.png">
          <figcaption class="caption-right">Das FutureSkills-Kompetenzraster</figcaption>

          <p>Daher werden auf den FutureSkills-Kursinformationsseiten die Angebote in die Programme Tech,
            Digital und Classic eingeordnet und Du kannst die Plattform danach gezielt durchsuchen.
          </p>
          <p>Unser FutureSkills-Kompetenzraster verdeutlicht Dir das Konzept und gibt Empfehlungen
            für weitere Kurse/Module in den entsprechenden Kategorien.
          </p>
      </div>
      <div class="gc-image col-12 col-md-6 order-2">
        <img class="img-fluid img-right" src="assets/images/Kompetenzraster-Desktop.png">
        <figcaption class="caption-right">Das FutureSkills-Kompetenzraster</figcaption>
      </div>
  </div>
  </div>

</section>

<section class="student-info ki py-5">
  <!--<div class="gc-bg-full-image"></div>-->
  <div class="container">
    <div class="row justify-content-end">
      <div class="gc-image col-12 col-md-6 order-md-1 order-2 gc-bg-full-image"></div>
      <div class="col-12 col-md-6 order-1 order-md-2 order-1 text-bg">
        <h3>FutureSkills und KI</h3>
        <p>Künstliche Intelligenz wird unsere zukünftige Welt beeinflussen und in jeden Bereich der Arbeitswelt Einzug halten.
          Dabei ist der Begriff Künstliche Intelligenz irreführend und geht einher mit Mythen von intelligenten Maschinen,
          die uns ersetzen oder gar die Überhand gewinnen. Deshalb ist es wichtig zu verstehen was Künstliche Intelligenz ist,
          in welchen Bereichen sie bereits eingesetzt wird und wie sie uns zukünftig unterstützen kann. Die FutureSkills-Plattform
          schenkt dem Thema besondere Beachtung und bietet spezielle Kurse an, um Zusammenhänge zu erklären und dir Begriffe wie
          DataScience, Machine Learning und DeepLearning näher zu bringen.</p>
          <p>Hier [Link] findest du Beispiele was Machine Learning bereits leistet und weitere Verweise zu Seiten,
            die spannende Anwendungen demonstrieren.</p>
      </div>
    </div>
  </div>

</section>

<!--<section class="student-info example py-md-5 pt-4 pb-5">

  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-6">
        <div class="image-container">
          <div class="image-item image1"><img src="//placehold.it/300"></div>
          <div class="image-item image2"><img src="//placehold.it/400"></div>
          <div class="image-item image3"><img src="//placehold.it/200"></div>
          <div class="image-item image4"><img src="//placehold.it/200"></div>
          <div class="image-item image5"><img src="//placehold.it/300"></div>
          <div class="image-item image6"><img src="//placehold.it/300"></div>
        </div>
      </div>
      <div class="col-6">
        <h3>Ein FutureSkills Beispiel</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quis, soluta ullam? Enim, voluptatibus. Minus sed magni ab
          veritatis modi aut fugiat eveniet cupiditate, provident
          quibusdam totam aliquid deleniti laborum fugit.</p>
      </div>

    </div>
  </div>

</section>-->

<section class="student-info project-cta py-5">

  <div class="container">
    <div class="row">

      <div class="col-12 d-flex justify-content-center align-items-center">
        <h3 class="comic-header text-left">Schaut doch mal hier rein.</h3>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center">
        <fs-round-button>Alle Kurse</fs-round-button>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>
