<section class="student-info mission py-md-5 pt-4 pb-5">

  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1 class="comic-header tech text-center">Skills für Deine Zukunft</h1>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>

<section class="student-info about">

  <div class="grid-container about-grid">
    <div class="gc-image col-number"></div>
    <div class="gc-text col-number">
      <h2  class="h3">Über FutureSkills</h2>
      <p>ABSATZ 1: Die FutureSkills-Plattform ist ein gemeinsames Projekt der Hochschulen in Schleswig-Holstein,
      denn deine Zukunft liegt uns am Herzen.</p>
    </div>
  </div>

</section>

<section class="student-info competence">

  <div class="grid-container competence-grid">
    <div class="gc-text col-number">
      <h3>Das Kompetenzraster</h3>
      <p>ABSATZ 2: Die FutureSkills-Plattform ist ein gemeinsames Projekt der Hochschulen in Schleswig-Holstein,
      denn deine Zukunft liegt uns am Herzen.</p>
    </div>
    <div class="gc-image col-number"></div>
  </div>

</section>

<section class="student-info ki">

  <div class="grid-container ki-grid">
    <div class="gc-image col-number"></div>
    <div class="gc-text col-number">
      <h3>Kunstliche Intelligenz</h3>
      <p>ABSATZ 3: Die FutureSkills-Plattform ist ein gemeinsames Projekt der Hochschulen in Schleswig-Holstein,
      denn deine Zukunft liegt uns am Herzen.</p>
    </div>
  </div>

</section>

<section class="advantages py-md-5 pt-4 pb-5">

  <div class="container">
    <div class="row">

      <div class="col-12 col-md-10 col-lg-7">
        <h3 class="h1">Deine Vorteile</h3>
        <p>Die FutureSkills-Plattform ist ein gemeinsames Projekt der Hochschulen in Schleswig-Holstein,
          denn deine Zukunft liegt uns am Herzen.</p>
      </div>

    </div> <!-- end of .row -->
    <div class="row mt-2">

      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="card h-100 tech">
          <img src="assets/icons/Icons_Vorteile_01.svg" alt="Vorteil 1" class="card-img-top p-3">
          <div class="card-body">
            <p class="card-text">Optimale <b>Vorbereitung</b> auf den <b>Arbeitsmarkt</b>. Die Programme fußen sturmsicher auf dem <b>Kompetenzmodell</b>
              für „FutureSkills“ des Stifterverbands.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="card h-100 classic">
          <img src="assets/icons/Icons_Vorteile_02.svg" alt="Vorteil 2" class="card-img-top p-3">
          <div class="card-body">
            <p class="card-text">Du kannst aus drei Programmen wählen,
              die dich <b>fit</b> für die <b>Berufswelt</b> von morgen machen: <b>Tech-Kurse, Digital Basic-Kurse
              und Classic-Kurse</b>.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card h-100 digital">
          <img src="assets/icons/Icons_Vorteile_03.svg" alt="Vorteil 3" class="card-img-top p-3">
          <div class="card-body">
            <p class="card-text">Mit virtuellen <b>Auszeichnungen</b> und <b>Zertifikat</b>.</p>
          </div>
        </div>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>

<section class="student-info example py-md-5 pt-4 pb-5">

  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-6">
        <div class="image-container">
          <div class="image-item image1"><img src="//placehold.it/300"></div>
          <div class="image-item image2"><img src="//placehold.it/400"></div>
          <div class="image-item image3"><img src="//placehold.it/200"></div>
          <div class="image-item image4"><img src="//placehold.it/200"></div>
          <div class="image-item image5"><img src="//placehold.it/300"></div>
          <div class="image-item image6"><img src="//placehold.it/300"></div>
        </div>
      </div>
      <div class="col-6">
        <h3>Ein FutureSkills Beispiel</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quis, soluta ullam? Enim, voluptatibus. Minus sed magni ab
          veritatis modi aut fugiat eveniet cupiditate, provident
          quibusdam totam aliquid deleniti laborum fugit.</p>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>

<section class="student-info project-cta py-md-5 pt-4 pb-5">

  <div class="container">
    <div class="row">

      <div class="col-6">
        <h3 class="h1 text-left">Jetzt anmelden und deine Chance nutzen!</h3>
      </div>
      <div class="col-6 text-right">
        <fs-round-button>Mehr über uns</fs-round-button>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>
