<section class="student-info mission py-md-5 py-4">

  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1 class="comic-header classic text-center">Skills für Deine Zukunft</h1>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>

<section class="student-info about py-md-5 pt-5 pb-5">

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <fs-consent-video src="https://www.youtube-nocookie.com/embed/YJ0Bq2ydAoU?start=4"></fs-consent-video>
      </div>
      <div class="col-12 col-md-10 col-lg-6 pt-4">
        <h2 class="h3">Über FutureSkills</h2>
        <p>FutureSkills ist eine gemeinsame Plattform der Hochschulen in Schleswig-Holstein,
          um digitales Lehren und Lernen voranzutreiben. Im Vordergrund stehen dabei Lernangebote zu digitalen
          Grundkompetenzen, die zukünftig in vielen Jobs gebraucht werden. Angebote und Inhalte wachsen ständig weiter!
        </p>
      </div>
    </div>
  </div>

</section>

<section class="student-info advantages pt-5 pb-5">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9">
        <h3 class="comic-header tech text-left">Vier Gründe, um FutureSkills zu nutzen, egal, wo und was du studierst</h3>
      </div>
      <div class="col-12 col-lg-6 pt-md-4 pt-3">

        <div class="card-container">
          <div class="card">
            <div class="row">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3 class="comic-header tech text-center blob var-1">1</h3>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center">
                <div class="card-block">
                  <p class="card-text">Du findest interessante und kostenlose Online-Kurse, um dich selbst weiterzubilden –
                    von vielen namhaften Hochschulen und Organisationen!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="row ">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3 class="comic-header tech text-center blob var-2">2</h3>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center">
                <div class="card-block">
                  <p class="card-text">In vielen Kursen kannst du Zertifikate erwerben, die dir z.B. bei Bewerbungen helfen.
                    (Manche Kurse werden dir auch im Studium angerechnet).</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 pt-lg-4">

        <div class="card-container">
          <div class="card">
            <div class="row ">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3 class="comic-header tech text-center blob var-3">3</h3>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center">
                <div class="card-block">
                  <p class="card-text">Unser FutureSkills-Kompetenzraster kann dir helfen herauszufinden, in welchen Bereichen du schon gut
                    aufgestellt bist und wo du Deine Skills für die Zukunft noch ausbauen kannst.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="row ">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3 class="comic-header tech text-center blob var-4">4</h3>
              </div>
              <div class="col-md-8 d-flex justify-content-center align-items-center">
                <div class="card-block">
                  <p class="card-text">Lehrveranstaltungen an Deiner Hochschule werden interessanter und aktueller, wenn Lehrende
                    Inhalte auf der Plattform entdecken und einbinden. Deine Dozent*innen nutzen FutureSkills noch nicht?
                    Sprich sie doch mal darauf an!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<section class="student-info competence py-md-5 pt-4 pb-0">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-1">
        <h3>Das Kompetenzraster</h3>
        <p>Wir orientieren uns am Future-Skills-Framework des Stifterverbands für die Deutsche Wirtschaft
          (vgl. Kirchherr et al. 2018). Hier werden „Future Skills“ als Fähigkeiten definiert, die in den
          nächsten Jahren für das Berufsleben in allen Branchen und/oder für die gesellschaftliche Teilhabe
          wichtig werden, denn Digitalisierung und neue Arbeitsformen stellen Unternehmen und Gesellschaft vor
          einige Herausforderungen.</p>
          <p>Insgesamt beschreibt das Framework 18 Fähigkeiten in den Kategorien
          </p>
          <ul>
            <li>technologische Fähigkeiten,</li>
            <li>digitale Grundfähigkeiten und</li>
            <li>klassische Fähigkeiten.</li>
          </ul>
          <figure>
            <img class="img-fluid pyramide" src="assets/images/projekt-fs-pyramide.png">
            <figcaption class="caption-center">Die FutureSkills-Pyramide</figcaption>
          </figure>
          <p>Daher werden auf den FutureSkills-Kursinformationsseiten die Angebote in die Programme Tech,
            Digital und Classic eingeordnet und du kannst die Plattform danach gezielt durchsuchen.
          </p>
          <p>Unser FutureSkills-Kompetenzraster verdeutlicht dir das Konzept und gibt Empfehlungen
            für weitere Kurse/Module in den entsprechenden Kategorien.
          </p>
      </div>
      <div class="gc-image col-12 col-md-6 order-2">
        <figure>
          <img class="img-fluid img-right d-none d-sm-block desktop-image" src="assets/images/Kompetenzraster-Desktop_web.png">
          <img class="img-fluid img-right d-block d-sm-none mobile-image" src="assets/images/Kompetenzraster-mobile_web.png">
          <figcaption class="caption-right">Das FutureSkills-Kompetenzraster</figcaption>
        </figure>
      </div>
  </div>
  </div>

</section>

<section class="student-info project-cta py-5">

  <div class="container">
    <div class="row">

      <div class="col-12 d-flex justify-content-center align-items-center">
        <h3 class="comic-header text-left">Schaut doch mal rein >></h3>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center">
        <fs-round-button [routerLink]="lnkOffers">Zeige alle Kurse</fs-round-button>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>
