@import "breakpoints";

.video {
  background-color: rgb(30,174,156);
  border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  margin: 0 0%;
  .single-card {
    background-color: var(--color-function-white);
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,.02),
    0 6.7px 5.3px rgba(0,0,0,.028),
    0 12.5px 10px rgba(0,0,0,.035),
    0 22.3px 17.9px rgba(0,0,0,.042),
    0 41.8px 33.4px rgba(0,0,0,.05),
    0 100px 80px rgba(0,0,0,.07);
    height: auto;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    .fs-blob {
      max-width: 80px;
      max-height: 80px;
      height: 70px;
      width: 70px;
      margin: 0 20px 0 0;
      border-right: 4px solid rgba(0,0,0,0.2);
      fa-icon {
        color: var(--color-function-white);
      }
      &.comic-header {
        font-size: 70px;
        -webkit-text-stroke: 2px #fff;
      }
      &.var-1 {
        background-color: rgb(30,174,156);
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
      }
      &.var-2 {
        background-color: rgb(214,47,135);
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
      }
      &.var-3 {
        background-color: rgb(0,160,201);
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
      }
      &.var-4 {
        background-color: rgb(181,92,156);
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
      }
    }


  }
  .fs-consent-video {
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,.02),
    0 6.7px 5.3px rgba(0,0,0,.028),
    0 12.5px 10px rgba(0,0,0,.035),
    0 22.3px 17.9px rgba(0,0,0,.042),
    0 41.8px 33.4px rgba(0,0,0,.05),
    0 100px 80px rgba(0,0,0,.07);
  }
  @media(min-width: $sm) {
  }
  @media(min-width: $md) {
    &.video {
      .single-card {
        margin-bottom: 0px;
        .icon-header {
          display: flex;
          justify-content: space-between;
        }
        .fs-blob {
          max-width: 100px;
          max-height: 100px;
          height: 75px;
          width: 110px;
        }
      }
    }
  }
  @media(min-width: $lg) {
    &.video {
      margin: 0 10%;
    }
  }
}
