<section class="student-info video mb-5 py-5">

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 align-self-center">
        <div class="single-card">
          <h3 class="icon-header">
            <div class="fs-blob var-2 d-flex align-items-center justify-content-center">
              <fa-icon class="video-icon" [icon]="['fas', 'video']"></fa-icon>
            </div>
            Vorstellung der FutureSkills-Plattform
          </h3>
          <p>Im Video präsentiert Prof. Dr. Monique Janneck die Plattform FutureSkills auf
            der Konferenz „Envisioning Education“ im November 2021. Sie erläutert Hintergründe,
            konkrete Nutzungsszenarien und Herausforderungen bei der Entwicklung der Plattform.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 align-self-center">
        <fs-consent-video src="https://www.youtube-nocookie.com/embed/kEtxsITbHYs"></fs-consent-video>
      </div>
    </div>
  </div>

</section>
