<section class="information-banner py-sm-3 py-md-4 py-3">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Preview der hochschulübergreifenden Lernplattform „FutureSkills“ ++
          Jetzt stöbern und fit machen für die digitale Zukunft<br>
        <p class="important-note">Das Kursangebot wächst ständig, checke regelmäßig diese Webseite und verpasse nichts. Stay Tuned!</p>
      </div>
    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>
