.information-banner {
    color: #aaa;
    background-color: #eee;

    p {
      margin: 0;

      &.important-note {
        background-color: #aaaaaa;
        color: #ffffff;
        padding: 0 5px 2px 5px;
        display: inline-block;
      }
    }
}
