<div class="py-md-5 pt-4 pb-5 partnership">

  <div class="container">
    <div class="row">

      <div class="col-12 col-md-10 col-lg-7">
        <h3>Starke Partnerschaften</h3>
        <p>Wusstest du schon? Im digitalen Zeitalter werden Konkurrenz und Kooperation gewaltig durcheinander
          gewirbelt. Ein Orkan, der alle Regeln auf den Kopf stellt. In Schleswig-Holstein halten wir fest zusammen:
          Die 10 Hochschulen nehmen den „Wind of Change“ ernst. Sie entwickeln auf dieser Plattform mit
          vereinten Kräften die besten Verstärker für dein Studium. Du hast eigene Ideen, womit wir dir
          weiterhelfen können? Schick eine digitale Flaschenpost
          an <a href="mailto:futureskills-sh@th-luebeck.de">futureskills-sh@th-luebeck.de</a>.</p>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

  <!--<h1 class="px-4 pt-4 pb-3 title-partnership">UNTERSTÜTZT VON UNSEREN PARTNERN </h1>
    <p class=" px-4 pb-3 text-partnership"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam sed accusamus libero.
        Officiis impedit, ratione aperiam eligendi expedita illo dolorum quas,
        corporis quis neque vero nisi voluptate non quam deserunt.
    </p>-->
    <div class="d-flex flex-wrap justify-content-center partnership-partners pt-md-5 pt-3">
        <a href="https://www.th-luebeck.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_thl.svg" class="w-75" alt="Logo der Technischen Hochschule Lübeck">
          </div>
        </a>
        <a href="https://www.uni-kiel.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_cau.svg" class="w-75" alt="Logo der Christian-Albrechts-Universität zu Kiel">
          </div>
        </a>
        <a href="https://www.fh-kiel.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_fhk.svg" class="" alt="Logo der Fachhochschule Kiel">
          </div>
        </a>
        <a href="https://www.uni-flensburg.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_eufb.svg" class="" alt="Logo der Europa-Universität Flensburg">
          </div>
        </a>
        <a href="https://www.uni-luebeck.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_uhl.svg" class="" alt="Logo der Universität zu Lübeck">
          </div>
        </a>
        <a href="https://muthesius-kunsthochschule.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_mkh.png" class="" alt="Logo der Muthesius Kunsthochschule">
          </div>
        </a>
        <a href="https://www.fhvd-sh.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_fhvd.jpg" class="w-75" alt="Logo der Fachhochschule für Verwaltung und Dienstleistung">
          </div>
        </a>
        <a href="https://www.fh-westkueste.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_fhwk.png" class="w-75" alt="Logo der Fachhochschule Westküste">
          </div>
        </a>
        <a href="https://hs-flensburg.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_hsfb.png" class="w-75" alt="Logo der Hochschule Flensburg">
          </div>
        </a>
        <a href="https://www.mh-luebeck.de/" target="_blank" class="px-4">
          <div class="logowrapper">
            <img src="assets/logos/logo_mhl.jpg" class="w-75" alt="Logo der Musikhochschule Lübeck">
          </div>
        </a>
      </div>
      <!-- <div class="d-flex flex-row justify-content-center partnership-partners pt-4"> -->

    <!-- </div> -->
</div>
