<div class="mnist-example">
  <div class="row">
    <div class="col-10 mb-4">
      Die Erkennung handgeschriebener Ziffern mithilfe des MNIST-Datensatzes ist eines der
      bekanntesten und häufigsten Beispiele für das Training eines neuronalen Netzwerkes.<br />
      Weitere Infos und weiterführende Links findest du weiter unten auf der Seite.
    </div>
  </div>

  <!-- Canvas and Bubble -->
  <div class="row">
    <div class="col">
      <fs-drawable-canvas
        [width]="400"
        [height]="400"
        (newImage)="predict($event)"
        (canvasResized)="onCanvasResized($event)"
      ></fs-drawable-canvas>
    </div>
    <div class="col-6 vertical-align">
      <div class="row">
        <div *ngIf="prediction_available; else emptyBubble" class="bubble thought">
          Ich glaube die Zahl ist eine {{ predicted }}
        </div>
        <ng-template #emptyBubble>
          <div class="bubble thought">Schreibe eine Ziffer (0-9) in das Feld.</div>
        </ng-template>
      </div>
      <div class="row">
        <img class="img-fluid align-baseline" src="assets/images/nadia-persona-lg.png" />
      </div>
    </div>
  </div>

  <!-- Button -->
  <div class="row">
    <div class="col">
      <button class="btn btn-outline-primary btn-sm float-left" (click)="onClearButtonClicked()">
        Löschen
      </button>
    </div>
  </div>

  <!--Accordion>-->
  <div class="row mt-5">
    <div class="col-sm">
      <ngb-accordion [closeOthers]="false" #acc="ngbAccordion" activeIds="toggle-1">
        <ngb-panel id="toggle-1" title="Auswertung" class="accordion-panel">
          <ng-template ngbPanelContent>
            <div class="table-responsive-sm">
              <table class="table table-sm">
                <tr>
                  <th>Ziffer</th>
                  <th *ngFor="let item of predictionIndex; let i = index">{{ item }}</th>
                </tr>
                <tr>
                  <td><div class="scaled-mini-canvas" #tableCanvas>&nbsp;</div></td>
                  <td *ngFor="let item of predictions; let i = index">{{ predictions[i] }}</td>
                </tr>
              </table>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Die MNIST Datenbank" class="accordion-panel">
          <ng-template ngbPanelContent>
            <div>
              <ul>
                <li>
                  MNIST steht für Modified National Institute of Standards and Technology database
                </li>
                <li>
                  Die Datenbak enthält 60000 Trainingbilder von handgeschriebenen Ziffern, sowie
                  weitere 10000 Bilder zum Testen des Modells
                </li>
                <li>Eine MNIST Ziffer ist 28x28 Pixel groß und hat 8Bit (Graustufen)</li>
              </ul>

              <p>to be continued ...</p>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Weitere Infos" class="accordion-panel">
          <ng-template ngbPanelContent>
            <div>
              Mögliche Inhalte
              <ul>
                <li>Infos zum Modell</li>
                <li>Kurse, die sich mit neuronalen Netzen beschäftigen</li>
              </ul>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
