<div class="mnist-example" [ngClass]="{'modus_window': modus === 'window', 'modus_modal' : modus === 'modal' }">
  <div class="row">
    <div class="col-10 mb-4">
      Die Erkennung handgeschriebener Ziffern mithilfe des MNIST-Datensatzes ist eines der
      bekanntesten und häufigsten Beispiele um zu zeigen wie ein neuronales Netz trainiert werden
      kann.
    </div>
  </div>

  <p class="mt-3 mb-3" *ngFor="let alert of alertList.alerts">
    <ngb-alert [type]="alert.type" (closed)="alertList.closeAlert(alert)">{{
      alert.message
    }}</ngb-alert>
  </p>

  <!--wait until loaded-->
  <div *ngIf="modelLoaded == false || scriptLoadingStatus.isLoaded == false">
    <p class="text-center"><fs-loading-spinner></fs-loading-spinner></p>
  </div>
  <div [ngClass]="{ 'blur-on-load': modelLoaded == false || scriptLoadingStatus.isLoaded == false }">
    <!-- Bubble < xs-->
    <div class="row d-block d-sm-none">
      <div class="col col-md-4">
        <div *ngIf="prediction_available; else emptyBubble_small" class="bubble user-select-none">
          {{textPrediction}} {{ predicted }}
        </div>
        <ng-template #emptyBubble_small>
          <div class="bubble user-select-none">Schreibe eine Ziffer (0-9) in das Feld.</div>
        </ng-template>
      </div>
    </div>

    <!-- Canvas and Bubble > xs-->
    <div class="row">
      <div class="col">
        <fs-drawable-canvas
          (newImage)="predict($event)"
          (canvasResized)="onCanvasResized($event)"
        ></fs-drawable-canvas>
      </div>
      <div class="col vertical-align d-none d-sm-block">
        <div class="row">
          <div *ngIf="prediction_available; else emptyBubble" class="bubble thought user-select-none">
            {{textPrediction}} {{ predicted }}
          </div>
          <ng-template #emptyBubble>
            <div class="bubble thought user-select-none">Schreibe eine Ziffer (0-9) in das Feld.</div>
          </ng-template>
        </div>
        <div class="row">
          <img class="align-baseline user-select-none" src="assets/images/nadia-persona-lg.png" />
        </div>
      </div>
    </div>

    <!-- Button -->
    <div class="row">
      <div class="col col-md-4">
        <button class="btn btn-outline-primary btn-sm float-left" (click)="onClearButtonClicked()">
          Löschen
        </button>
      </div>
    </div>

    <!--Accordion>-->
    <div class="row mt-5">
      <div class="col-sm">
        <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="toggle-1">
          <ngb-panel id="toggle-1" title="Auswertung" class="accordion-panel">
            <ng-template ngbPanelContent>
              <div class="table-responsive-sm">
                <table class="table table-sm">
                  <tr>
                    <th>Ziffer</th>
                    <th *ngFor="let item of predictionIndex; let i = index">{{ item }}</th>
                  </tr>
                  <tr>
                    <td><div class="scaled-mini-canvas" #tableCanvas>&nbsp;</div></td>
                    <td *ngFor="let item of predictions; let i = index">{{ predictions[i] }}</td>
                  </tr>
                </table>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-2" title="Die MNIST Datenbank" class="accordion-panel">
            <ng-template ngbPanelContent>
              <div>
                <ul>
                  <li>
                    MNIST steht für Modified National Institute of Standards and Technology database
                  </li>
                  <li>
                    Die Datenbak enthält 60000 Trainingbilder von handgeschriebenen Ziffern, sowie
                    weitere 10000 Bilder zum Testen des Modells
                  </li>
                  <li>Eine MNIST Ziffer ist 28x28 Pixel groß und hat 8Bit (Graustufen)</li>
                  <li>Die ersten zwölf Zahlen:<br>  <img src="assets/images/mnist-numbers.png" alt="Beispiel MNIST-Zahlen"></li>
                </ul>
                <p>...</p>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-3" title="Weitere Infos" class="accordion-panel">
            <ng-template ngbPanelContent>
              <div>
                Mögliche Inhalte
                <ul>
                  <li>Infos zum Modell</li>
                  <li>Kurse, die sich mit neuronalen Netzen beschäftigen</li>
                </ul>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
