.mnist-example {
  $bubbleBorderColor: var(--color-primary-blue);
  $bubbleBorderRadius: 10px;

  .bubble-large {
    &.bubble {
      position: relative;
      padding: 1rem;
      border: 4px solid $bubbleBorderColor;
      margin: 0 auto;
      -webkit-border-radius: $bubbleBorderRadius;
      -moz-border-radius: $bubbleBorderRadius;
      border-radius: $bubbleBorderRadius;
      background: #fff;
    }

    &.bubble:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 30px;
      top: 100%;
      border: 20px solid;
      border-color: $bubbleBorderColor transparent transparent $bubbleBorderColor;
    }

    &.bubble:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 34px;
      top: 100%;
      border: 15px solid;
      border-color: #ffffff transparent transparent #ffffff;
    }
  }

  .bubble-small {
    &.bubble {
      margin: 10px auto;
    }
  }
}
