<div class="mnist-example">
  <p>[Beschreibungstext zu MNIST]</p>
  <p>Schreibe eine Ziffer (0-9) in das Feld:</p>

  <div class="container-flex">
    <div class="row">
      <div class="col-sm mb-5">
        <div class="row-sm">
          <fs-drawable-canvas
            [width]="300"
            [height]="300"
            (newImage)="predict($event)"
          ></fs-drawable-canvas>
        </div>
        <div class="row-sm mt-2">
          <button class="btn btn-sm btn-info float-left" (click)="onClearButtonClicked()">
            Löschen
          </button>
        </div>
      </div>
      <div class="col-sm">
        <div class="col-sm">Zahl: {{ predicted }}</div>
      </div>
    </div>
    <!--
    <div class="row">
      <h4>Wahrscheinlichkeitswerte pro Zahl</h4>

      <div class="row">
        <div class="col-sm mb-5">
          <table class="table table-striped">
            <tr>
              <th *ngFor="let item of predictionIndex; let i = index">{{ item }}</th>
            </tr>
            <tr>
              <td *ngFor="let item of predictions; let i = index">{{ predictions[i] }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div> -->

    <div>


<ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
  <ngb-panel id="toggle-1" title="Wahrscheinlichkeiten pro Zahl">
    <ng-template ngbPanelContent>
      <table class="table table-striped">
        <tr>
          <th *ngFor="let item of predictionIndex; let i = index">{{ item }}</th>
        </tr>
        <tr>
          <td *ngFor="let item of predictions; let i = index">{{ predictions[i] }}</td>
        </tr>
      </table>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-2" title="Neuronales Netz - Modell">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>
</ngb-accordion>




    </div>
  </div>
</div>
