export const environment = {
  production: true,

  logFiles: true, //Logfiles are shown in production mode
  staticURL: 'https://devstatic.futureskills-sh.de/',
  modelURL: 'https://devstatic.futureskills-sh.de/data/kimodels/', // path to ki-models and data

  apiURL: 'http://localhost:8000',

  clientLoginData: {
    grantType: 'password',
    clientId: '',
    clientSecret: ''
  }

};
