export const environment = {
  production: true,

  logFiles: false, // don't change this in production Environment
  staticURL: 'https://static.futureskills-sh.de/',
  modelURL: 'https://static.futureskills-sh.de/data/ki/models/', // path to ki-models and data

  apiURL: 'http://localhost:8000',

  clientLoginData: {
    grantType: 'password',
    clientId: '',
    clientSecret: ''
  }

};
