export const environment = {
  production: false,

  logFiles: true, // no effect (at the moment) when production is false
  staticURL: 'https://devstatic.futureskills-sh.de/', // could also be a local adress
  modelURL: 'assets/kimodels/', // path to ki-models and data
  dataURL: 'assets/data/', // path to additional data

  apiURL: 'http://localhost:8000',
  idpURL: {
    emulated: 'http://localhost:8000/emulated/idp',
  },

  offerItemPerPage: 12, // Anzahl der Kurse auf einer Seite

  clientLoginData: {
    grantType: 'password',
    clientId: '',
    clientSecret: ''
  }

};
