export const environment = {
  production: true,

  logFiles: false, // don't change this in production Environment
  staticURL: 'https://static.futureskills-sh.de/',
  modelURL: 'assets/kimodels/', // path to ki-models and data
  dataURL: 'assets/data/', // path to additional data

  apiURL: 'http://localhost:8000',
  idpURL: {
    emulated: 'http://localhost:8000/emulated/idp',
  },

  offerItemPerPage: 24, // Anzahl der Kurse auf einer Seite

  clientLoginData: {
    grantType: 'password',
    clientId: '',
    clientSecret: ''
  }

};
