<section class="legal privacy py-md-5 pt-4 pb-5">

  <div class="container">
    <div class="row">

      <div class="col-12 col-md-10 col-lg-7">
        <h1>Daten&shy;schutz&shy;erklärung FutureSkills</h1>
        <p>Das Institut für Lerndienstleistungen ist ein In-Institut der Technischen Hochschule Lübeck.
          „FutureSkills-Plattform“ ist ein Forschungs- und Entwicklungsvorhaben des Instituts,
          in dessen Rahmen Kurse zu Erprobungszwecken bereit gestellt werden.</p>
      </div>

      <div class="col-12 col-lg-6">
        <h2 class="h3 mt-4">1. Datenschutz</h2>
        <p>Das Institut für Lerndienstleistungen der Technischen Hochschule Lübeck legt besonderen Wert auf
          die Einhaltung der Datenschutzgesetze. Die einschlägigen Datenschutzgesetze, insbesondere das
          Bundesdatenschutzgesetz (neu) und die EU-Datenschutz-Grundverordnung, werden von uns in vollem
          Umfang eingehalten. Die Verarbeitung der personenbezogenen Daten erfolgt ausschließlich auf der
          Grundlage der einschlägigen Gesetze und findet nur zu den unter Nr. 4 genannten Zwecken statt.
          Die Daten werden nur nach den Vorgaben dieser Datenschutzerklärung verarbeitet.
        </p>
        <h3 class="mt-4">2. Verantwortliche Stelle</h3>
        <p>Die für die Datenverarbeitung verantwortliche Stelle ist</p>
        <p>Technische Hochschule Lübeck<br />
           Institut für Lerndienstleistungen (ILD)<br />
           Prof. Dr. Monique Janneck<br />
           Wissenschaftliche Direktorin<br />
           Mönkhofer Weg 239<br />
           D-23560 Lübeck<br />
           E-Mail: <a href="mailto:info-ild@th-luebeck.de">info-ild@th-luebeck.de</a>
        </p>
        <h3 class="mt-4">3. Datenerfassung</h3>
        <p>Das Institut für Lerndienstleistungen der Technischen Hochschule Lübeck erhebt, speichert
            und verarbeitet zur Erfüllung der vertraglichen und gesetzlichen Regelungen folgende Datenkategorien:
        </p>
        <p>
          <ul>
            <li>Benutzername, Passwort und E-Mail-Adresse der Nutzerinnen und Nutzer</li>
            <li>Texte, die Nutzerinnen und Nutzer bei einer Teilnahme an Kursen in Eingabefelder innerhalb der Kurse schreiben</li>
            <li>Inhalte aus E-Mails, die zwischen der Nutzerin/dem Nutzer und Mitgliedern des ILD ausgetauscht werden (z.B. Supportanfragen)</li>
            <li>Detaillog: Zugriff, User-Agent, IP, http, Status und Uhrzeit der Serveranfrage</li>
          </ul>
        <p>Cookies<br />
            Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an
            und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu
            machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
        </p>
        <h3 class="mt-4">4. Zweck der Datenverarbeitung</h3>
        <p>Das ILD verarbeitet die in Nr. 3 genannten Daten ausschließlich, um die Projektziele, i. e. die Nutzung der
          Online-Plattform, zu erfüllen. Die Nutzer*innen können diese Daten selbstständig löschen. Nach Löschung der Daten
          haben die Nutzer*innen keinen Zugang mehr zur Online-Plattform. Texte, die von Nutzer*innen innerhalb der Kurse
          erstellt wurden, werden gespeichert, um das Projektziel, i. e. die Möglichkeit zur Nutzung der Online-Plattform,
          zu erfüllen. Die Nutzer*innen können diese Daten selbstständig ohne Angabe von Gründen löschen. Inhalte aus E-Mails
          dienen dem technischen Support und der Erfüllung des Projektziels, i. e. der Beantwortung von Fragen im Laufe der
          Kursteilnahme.
        </p>

      </div> <!-- end of left .col -->

      <div class="col-12 col-lg-6">

        <h3 class="mt-4">5. Datenübermittlung</h3>
        <p>Eine Datenübermittlung findet nicht statt und ist auch nicht geplant.</p>
        <h3 class="mt-4">6. Datenübermittlung in ein Drittland</h3>
        <p>Eine Datenübermittlung in Drittländer findet nicht statt und ist auch nicht geplant.</p>
        <h3 class="mt-4">7. Löschfristen</h3>
        <p>Die vom Institut für Lerndienstleistungen der Technischen Hochschule Lübeck gespeicherten personenbezogenen
          Daten werden nach Wegfall der in Nr. 4 genannten Zwecke bzw. nach Ablauf evtl. gesetzlicher Aufbewahrungsfristen
          gelöscht bzw. anonymisiert.
        </p>
        <h3 class="mt-4">8. Rechte der betroffenen Person</h3>
        <p>Betroffene Personen haben jederzeit das Recht, Auskunft über ihre gespeicherten Daten zu erhalten. Weiterhin
          haben sie das Recht auf Berichtigung, Löschung, Einschränkung der Verarbeitung, Widerspruch gegen die Verarbeitung
          sowie das Recht auf Datenübertragbarkeit. Zur Wahrung ihrer Rechte (auch aus Nr. 7) können sie sich in Schrift-
          oder Textform an folgende Adresse wenden:
        </p>
        <p>TH Lübeck<br />
          Institut für Lerndienstleistungen<br />
          Mönkhofer Weg 239<br />
          23562 Lübeck
        </p>
        <p>E-Mail: <a href="mailto:futureskills-sh@th-luebeck.de">futureskills-sh@th-luebeck.de</a>
        </p>
        <p>Sehen betroffene Personen beim Umgang mit ihren personenbezogenen Daten ihre Rechte nicht in vollem
          Umfang gewahrt, haben sie das Recht bei der für sie zuständigen Aufsichtsbehörde Beschwerde einzureichen.
        </p>
        <h3 class="mt-4">9. Hosting</h3>
        <p>Die Server des Instituts für Lerndienstleistungen der Technischen Hochschule Lübeck stehen ausschließlich
          in Deutschland, somit unterliegt das Institut nicht dem amerikanischen PATRIOT act. Die vom Institut für
          Lerndienstleistungen der Technischen Hochschule Lübeck angebotenen Virtualisierungstechniken erlauben es,
          Dienste über einen virtuellen Server bereit zu stellen. Auf dem virtuellen Server läuft CentOS7 als Betriebssystem.
        </p>
        <h3 class="mt-4">10. SSL-Verschlüsselung</h3>
        <p>Unsere Webseite bedient sich einer SSL-Verschlüsselung, wenn es um die Übermittlung vertraulicher oder
          persönlicher Inhalte unserer Nutzer geht. Diese Verschlüsslung wird zum Beispiel bei der Abwicklung des
          Zahlungsverkehrs sowie bei Anfragen aktiviert, die Sie an uns über unsere Webseite stellen. Achten Sie bitte
          darauf, dass die SSL-Verschlüsselung bei entsprechenden Aktivitäten von Ihrer Seite her aktiviert ist. Der Einsatz
          der Verschlüsselung ist leicht zu erkennen: Die Anzeige in Ihrer Browserzeile wechselt von „http://“
          zu „https://“. Über SSL verschlüsselte Daten sind nicht von Dritten lesbar. Übermitteln Sie Ihre vertraulichen
          Informationen nur bei aktivierter SSL-Verschlüsselung und wenden Sie sich im Zweifel an uns.
        </p>

      </div> <!-- end of right .col -->

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>
