<div *ngIf="isError && !isLoading" class="container">
  <div class="row">
    <div class="col-12">
      <fs-error-back-text [errorText]="errMessage"></fs-error-back-text>
    </div>
  </div>
</div>

<div *ngIf="!isError && !isLoading">

  <section class="detail-page backbutton py-md-2 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="float-left">
            <button fs-nav-back type="button" class="btn btn-link">
              <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Zurück
            </button>
          </div>
          <div class="float-right">
            <button [routerLink]="lnkOffers" type="button" class="btn btn-link">
              <span style="text-decoration: underline">Kursübersicht</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <fs-card [offer]="offer"></fs-card>

  <fs-offer-text [offer]="offer"></fs-offer-text>

  <fs-recommended [offer]="offer"></fs-recommended>

</div>
