<div *ngIf="isError && !isLoading" class="container">
  <div class="row">
    <div class="col-12">
      <fs-error-back-text [errorText]="errMessage"></fs-error-back-text>
    </div>
  </div>
</div>

<div *ngIf="!isError && !isLoading">
  <section class="detail-page backbutton py-md-2 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="float-left">
            <a fs-nav-back [routerLink]=""
              ><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Zurück
            </a>
          </div>
          <div class="float-right" style="text-decoration: underline">
            <a [routerLink]="lnkOffers"> Kursübersicht </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="detail-page course-card">
    <div class="container">
      <div class="row alignment justify-content-center align-items-center">
        <div class="col-12 col-md-10">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-12 card-header">
                <h1>
                  <span *ngIf="offer?.hashtag" class="hashtag text-uppercase"
                    >#{{ offer?.hashtag }}</span
                  >{{ offer?.title }}
                </h1>
              </div>
              <div class="col-12 col-sm-5 col-md-4">
                <img class="card-img" src="{{ offer?.image_path }}" alt="Kurs Kachel Image" />
              </div>
              <div class="col-12 col-sm-7 col-md-8">
                <div class="card-body">
                  <div class="card-text">
                    <span
                      class="chip tech popinfo"
                      ngbPopover="Mit „TECH“ werden Future Skills Kurse gekennzeichnet, in denen technologische Fähigkeiten erworben werden können. Technologische Fähigkeiten umfassen jene Fähigkeiten, die für die Gestaltung von transformativen Technologien notwendig sind, wie z. B. bei der Webentwicklung oder der Blockchain-Entwicklung."
                      popoverTitle="Was bedeutet TECH?"
                      *ngIf="offer?.competence_tech == true"
                      >Tech</span
                    >
                    <span
                      class="chip digital"
                      ngbPopover="Mit „DIGITAL BASIC“ werden Future Skills Kurse gekennzeichnet, in denen digitale Grundfähigkeiten erworben werden können. Digitale Grundfähigkeiten beschreiben Fähigkeiten sich in einer digitalisierten Umwelt zurechtzufinden und aktiv an ihr teilzunehmen, wie z. B. die Fähigkeit zum kollaborativen Arbeiten."
                      popoverTitle="Was bedeutet DIGITAL BASIC?"
                      *ngIf="offer?.competence_digital == true"
                      >Digital Basic</span
                    >
                    <span
                      class="chip classic"
                      ngbPopover="Mit „CLASSIC“ werden Future Skills Kurse gekennzeichnet, in denen „klassische“ bzw. nicht-digitale Grundfähigkeiten erworben werden können. Die Bedeutung dieser Fähigkeiten, wie z. B. Adaptionsfähigkeit, Kreativität und Durchhaltevermögen, werden aus Sicht der Unternehmen in den kommenden Jahren im Arbeitsleben zunehmen."
                      popoverTitle="Was bedeutet CLASSIC?"
                      *ngIf="offer?.competence_classic == true"
                      >Classic</span
                    >
                    <span
                      class="chip none"
                      *ngIf="
                        offer?.competence_tech != true &&
                        offer?.competence_digital != true &&
                        offer?.competence_classic != true
                      "
                      >keine Angabe</span
                    >
                  </div>
                  <div class="card-text meta-text">
                    <fa-icon [icon]="['fas', 'door-open']"></fa-icon> Institution:
                    {{ offer?.institution?.title }}
                  </div>
                  <div class="card-text meta-text">
                    <fa-icon [icon]="['fas', 'globe-europe']"></fa-icon> Sprache: {offer?.language,
                    select, de {Deutsch} en {Englisch}}
                  </div>
                  <div class="card-text meta-text">
                    <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon> Format: {offer?.type,
                    select, online-course {Online Kurs} webinar {webinar} presence-event
                    {Präsenzveranstaltung} presence-series {Präsenzveranstaltungsreihe}
                    self-study-course {Selbstlernkurs} course-package {Kurspaket} blended-learning
                    {Blended Learning}}
                  </div>
                  <div class="buttons">
                    <div class="edit-button" ngbDropdown *ngIf="isAuthenticated">
                      <!-- todo: Nur Admins! -->
                      <button class="btn btn-light cog" id="dropdownBasic1" ngbDropdownToggle>
                        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button
                          class="btn btn-primary"
                          [routerLink]="[lnkAdminOfferEdit, offer?.id]"
                          ngbDropdownItem
                        >
                          <fa-icon [icon]="['fas', 'pen']"></fa-icon> Editieren
                        </button>
                        <button
                          class="btn btn-primary"
                          ngbDropdownItem
                          (click)="showModalWindowDeleteOffer()"
                        >
                          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> Löschen
                        </button>
                      </div>
                    </div>
                    <div class="card-button">
                      <button class="secondary-button dark" (click)="showModalWindowToLMS()">
                        Zum Kurs
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="detail-page content py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7">
          <h3>Was erwartet dich im Kurs?</h3>
          <div class="course-detail-text" [innerHTML]="offer?.description"></div>
        </div>
        <div class="col-12 col-md-5 col-lg-4 offset-lg-1">
          <div class="course-metadata" *ngIf="offer?.meta.length > 0 || offer?.author != null">
            <h5 class="mb-3">Eckdaten</h5>
            <div class="course-metadata-detail" *ngIf="offer?.author">
              <div class="metadata-icon">
                <fa-icon class="metadata-check" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div class="metadata-content">
                <h6>Autor/innen</h6>
                <p>{{ offer?.author }}</p>
              </div>
            </div>
            <div class="course-metadata-detail" *ngIf="offer?.meta.time_requirement">
              <div class="metadata-icon">
                <fa-icon class="metadata-check" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div class="metadata-content">
                <h6>Arbeitsaufwand</h6>
                {{ offer?.meta.time_requirement }}
              </div>
            </div>
            <div class="course-metadata-detail" *ngIf="offer?.meta.requirements">
              <div class="metadata-icon">
                <fa-icon class="metadata-check" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div class="metadata-content">
                <h6>Voraussetzungen</h6>
                {{ offer?.meta.requirements }}
              </div>
            </div>
            <div class="course-metadata-detail" *ngIf="offer?.meta.niveau">
              <div class="metadata-icon">
                <fa-icon class="metadata-check" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div class="metadata-content">
                <h6>Niveau</h6>
                {{ offer?.meta.niveau }}
              </div>
            </div>
            <div class="course-metadata-detail" *ngIf="offer?.meta.exam">
              <div class="metadata-icon">
                <fa-icon class="metadata-check" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div class="metadata-content">
                <h6>Prüfung</h6>
                {{ offer?.meta.exam }}
              </div>
            </div>
            <div class="course-metadata-detail" *ngIf="offer?.meta.sponsor">
              <div class="metadata-icon">
                <fa-icon class="metadata-check" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div class="metadata-content">
                <h6>Sponsor</h6>
                {{ offer?.meta.sponsor }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="detail-page recommended py-5" *ngIf="offer?.relatedOfferData?.length > 0">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-10 pb-5">
          <h3 class="h2 text-center header">Weil du dir "{{ offer?.title }}" angesehen hast.</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div
          class="col-auto mb-3"
          *ngFor="let relatedOffer of offer?.relatedOfferData; let i = index"
        >
          <fs-small-offer-tile [offerForTile]="relatedOffer"></fs-small-offer-tile>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- EO !error -->
