<section class="legal imprint py-md-5 pt-4 pb-5">

  <div class="container">
    <div class="row">

      <div class="col-12 col-md-10 col-lg-7">
        <h1>Impressum</h1>
      </div>

      <div class="col-12 col-lg-6">

        <h2 class="h3 mt-4">Anschrift der Anbieterin</h2>
        <p>Technische Hochschule Lübeck<br />
          Mönkhofer Weg 239<br />
          23562 Lübeck<br />
          Germany
        </p>
        <h3 class="mt-4">Kontaktinformationen<br />Projekt „FutureSkills-Plattform“</h3>
        <p><b>Institut für Interaktive Systeme (ISy)</b><br />
          <a href="mailto:info-ild@th-luebeck.de">info-ild@th-luebeck.de</a><br />
          Wissenschaftliche Direktorin: Prof. Dr. Monique Janneck
        </p>
        <h3 class="mt-4">Gesetzliche Vertretung</h3>
        <p>Die Technische Hochschule Lübeck ist eine Körperschaft des Öffentlichen Rechts.</p>
        <p>
          Sie wird durch die Präsidentin, Dr. Muriel Helbig, vertreten. Weitere Mitglieder des
          Präsidiums sind der Vizepräsident für Studium und Lehre, Prof. Dr. Henrik Botterweck,
          der Vizepräsident für Forschung und Internationales, Prof. Frank Schwartze sowie die Kanzlerin Yvonne Plaul.
        </p>
        <h3 class="mt-4">Zuständige Aufsichtsbehörde</h3>
        <p>
          Ministerium für Bildung, Wissenschaft und Kultur des Landes Schleswig-Holstein<br />
          Abteilung Wissenschaft<br />
          Jensendamm 5<br />
          24103 Kiel
        </p>
        <h3 class="mt-4">Umsatzsteueridentifikationsnummer</h3>
        <p>DE 135084122</p>
        <h3 class="mt-4">Verantwortlich im Sinne des Pressegesetzes</h3>
        <p>Das Präsidium der Technischen Hochschule Lübeck.</p>
        <h3 class="mt-4">Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV</h3>
        <p>Präsidentin Dr. Muriel Helbig, Technische Hochschule Lübeck, Präsidium, Mönkhofer Weg 239, 23562 Lübeck</p>

      </div> <!-- end of left .col -->

      <div class="col-12 col-lg-6">

        <h3 class="mt-4">Urheber- und Kennzeichenrecht</h3>
        <p>Inhalte und Werke auf diesen Seiten sind urheberrechtlich geschützt. Dies umfasst insbesondere Textinhalte
          sowie Fotos, Grafiken, Video- und Audioaufnahmen und ihre Zusammenstellung sowie Layout und Gestaltung. Eine
          Vervielfältigung oder Verwendung ist ohne ausdrückliche Zustimmung der Rechtsinhaber _innen nicht gestattet,
          es sei denn, diese ist ausnahmsweise gesetzlich zulässig.
        </p>
        <p>Soweit nicht anders angegeben, wurden die Werke von der Anbieterin erstellt bzw. ist sie Rechtsinhaberin.</p>
        <h3 class="mt-4">Haftungsausschluss</h3>
        <p>Die Inhalte unserer Hochschulseiten werden regelmäßig aktualisiert und ergänzt. Eine Gewähr für Funktion,
          Aktualität, Richtigkeit und Vollständigkeit der Informationen unserer Seiten, vor allem aber der Link-Verweise
          und der Informationen der verwiesenen („verlinkten“) Internetseiten der Drittanbieter kann nicht übernommen werden.
          Das gilt auch für die Rechtmäßigkeit dieser Inhalte. Die Rechte an diesen Seiten sowie die Verantwortlichkeit
          für deren Inhalt liegen ausschließlich beim Drittanbieter.
        </p>
        <p>Wir distanzieren uns von jeglichem angebotenen Inhalt, wenn sich der Inhalt eines Links dahingehend ändert,
          dass Informationen übermittelt werden, die nicht mehr mit unseren Angeboten in Verbindung zu bringen sind.
          Dies gilt insbesondere für Inhalte, deren Verbreitung nach deutschem und ausländischem Recht verboten ist und
          deren Beihilfe zur Verbreitung strafrechtlich verfolgt wird. Wir haften grundsätzlich nicht für Sachschäden,
          insbesondere nicht für Folgeschäden, die durch die Nutzung der von uns zur Verfügung gestellten Informationen
          und Angebote verursacht wurden, soweit sie nicht durch vorsätzliche oder grob fahrlässige Pflichtverletzung
          verursacht wurden.</p>
        <p>Wir behalten uns vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern oder zu ergänzen.</p>
        <p>&copy;2020 Technische Hochschule Lübeck</p>
        <p>Stand: Dezember 2020</p>

      </div> <!-- end of right .col -->

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>
