<div ngbDropdown class="d-inline-block mb-1">
  <button [disabled] = "disabled" class="btn btn-light" id="dropdownFilter" ngbDropdownToggle>
    {{ currentText }}
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownFilter">
    <button
      [ngClass]="{ 'font-weight-bold': currentIndex === listItem.id }"
      *ngFor="let listItem of filterItems; let i = index"
      ngbDropdownItem
      (click)="setFilter(listItem)"
    >
      {{ listItem.description }}
    </button>
  </div>
</div>
