<div ngbDropdown [ngClass]="{'fs-right-gap': lastInLine===false}">
  <button [disabled]="disabled" class="btn btn-light" id="dropdownFilter" ngbDropdownToggle>
    <span [ngClass]="{ filterOn: filterOn }">{{ currentText }} </span>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownFilter">
    <button
      [ngClass]="{ 'font-weight-bold': currentIndex === listItem.id }"
      *ngFor="let listItem of filterItems; let i = index"
      ngbDropdownItem
      (click)="onChangeFilter(listItem)"
    >
      {{ listItem.description }}
    </button>
  </div>
</div>
