
<div class="ki-example-list" [ngClass]="{ modus_window: modus === 'window', modus_modal: modus === 'modal' }">
  <div *ngIf="!errorOccurred; else showErrorMessage">

    <h6>Demos und Apps</h6>
      <div class="card-columns" >
      <app-example-card *ngFor="let demoText of demoList" [cardTextData]="demoText">
      </app-example-card>
    </div>

    <div *ngIf="demoList.length==0" class="text-muted mb-4" style="font-size: smaller;">
      Aktuell sind keine Demos gelistet.
    </div>

    <div class="mt-3">&nbsp;</div>

    <h6 class="listHeader">Projekt- und Community-Seiten</h6>
    <div class="card-columns">
      <app-example-card *ngFor="let projectText of projectList" [cardTextData]="projectText">
      </app-example-card>
    </div>

    <div *ngIf="projectList.length==0" class="text-muted mb-4" style="font-size: smaller;">
      Aktuell sind keine Projekte gelistet.
    </div>

    <hr>

    <div *ngIf="projectList.length>0 || demoList.length>0" class="text-muted text-right" style="font-size: smaller;">
      Diese Sammlung ist eine zufällige Auswahl und hat nicht den Anspruch vollständig zu sein. 
      Täglich kommen neue Seiten und Projekte hinzu, andere fallen weg. Manche Inhalte könnten kostenpflichtig sein oder werden. Wir übernehmmen keine Verantwortung für die Inhalte der externen Seiten, prüfen aber regelmäßig ob sie noch aktuell sind. 
    </div>
  </div>

  <ng-template #showErrorMessage>
    <fs-info-banner>
      <p>Die Link-Sammlung kann im Moment leider nicht geladen werden.</p>
    </fs-info-banner>
</ng-template>
</div> 
