<section class="skeleton-screen skeleton-overview offers-grid">

      <div *ngFor='let a of counter(12) ;let i = index' class="mb-5"><!--col-12 col-sm-6 col-md-6 col-lg-3 -->

        <div class="skeleton-container">
          <div class="skeleton-image skeleton-animation d-flex justify-content-center align-items-center">
            <div class="skeleton-image-circle"></div>
          </div>
          <div class="skeleton-stars skeleton-animation d-flex justify-content-end align-items-center">
            <div class="skeleton-image-star"></div>
            <div class="skeleton-image-star ml-1"></div>
            <div class="skeleton-image-star ml-1"></div>
            <div class="skeleton-image-star ml-1"></div>
            <div class="skeleton-image-star ml-1 mr-1"></div>
          </div>
          <div class="skeleton-content">
            <div class="skeleton-content-detail one skeleton-animation mb-4"></div>
            <div class="skeleton-content-detail two skeleton-animation mb-2"></div>
            <div class="skeleton-content-detail three skeleton-animation mb-2"></div>
            <div class="skeleton-content-detail four skeleton-animation mb-2"></div>
            <div class="skeleton-content-detail five skeleton-animation"></div>
          </div>
        </div>

      </div>

</section>
