<section class="trailer  py-md-5 pt-4 pb-5">

  <div class="container">
    <div class="row">

      <div class="col-12 col-md-10 col-lg-7">
        <h3 class="h1">Was ist die FutureSkills-Plattform?</h3>
        <p>Lass dich mit unserem Trailer verzaubern und  komm mit ins neue
          Kursuniversum deiner Hochschulen in Schleswig-Holstein! Klicke direkt auf den Button darunter,
          um mehr zu erfahren... </p>
      </div>

      <div class="col-12">
        <app-consent-video src="https://www.youtube-nocookie.com/embed/YJ0Bq2ydAoU?start=4"></app-consent-video>
      </div>
      <div class="col-12 text-right mt-4">
        <fs-round-button [routerLink]="[lnkTrailerAboutUs]">Mehr über uns</fs-round-button>
      </div>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>
