<div id="offer-table">
  <table class="table table-striped smallfont">
    <thead>
      <tr>
        <th scope="col" sortable="id" (sort)="onSort($event)" style="width: 0em">ID</th>
        <th scope="col" style="width: 22px"></th>
        <th scope="col" sortable="title" (sort)="onSort($event)">Titel</th>
        <th scope="col" style="width: 120px">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of shortOfferList; index as i">
        <th scope="row">{{ offer.id }}</th>
        <td><img [src]="offer.image" class="me-2" style="width: 20px" /></td>
        <td>
          <a type="button" [routerLink]="[lnkManageOfferEdit, offer?.id]">{{ offer?.title }}</a>
        </td>
        <td>
          <span class="float-right">
            <a type="button"><fa-icon class="pl-2" [icon]="['fas', 'eye']"></fa-icon></a>
            <a type="button" (click)="onOfferShouldBeDeleted(offer)"
              ><fa-icon class="pl-2" style="color: red" [icon]="['fas', 'trash']"></fa-icon
            ></a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshOffers()"
    >
    </ngb-pagination>
  </div>
</div>
