<footer class="bg-primary text-white py-3">
    <!-- <div class="container footer-main">
        <ul>
            <li><a href="#">FutureSkills Plattform</a></li>
            <li><a href="#">Partner</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Infos für Institute</a></li>
            <li><a href="#">Unterstützung der Lehrenden</a></li>
            <li><a href="#">Info für Studis</a></li>
        </ul>
    </div> -->
    <div class="container border-white pt-3 footer-fundamentals">
      <div class="row">

        <div class="col-12">
          <ul class="d-flex justify-content-start">
              <!--<li><a [routerLink]="['/nutzungsbedingungen']">Nutzungsbedingungen</a></li>-->
              <li><a [routerLink]="['/impressum']">Impressum</a></li>
              <li><a [routerLink]="['/datenschutz']">Datenschutz</a></li>
              <li><a [routerLink]="['/ueber-uns']">Über FutureSkills</a></li>
              <li><a [routerLink]="['/offers']">Alle Kurse</a></li>
          </ul>
        </div>

      </div><!-- end of .row -->
    </div><!-- end of .container -->
</footer>
