@import "breakpoints";
.course-card {
  background-image: url(~src/styles/ressources/backgrounds/background-ellipse.svg);
  background-repeat: no-repeat;
  background-position: center;

  .container {
    .row {
      .card {
        border: none;
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.02),
          0 6.7px 5.3px rgba(0, 0, 0, 0.028),
          0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042),
          0 41.8px 33.4px rgba(0, 0, 0, 0.05),
          0 100px 80px rgba(0, 0, 0, 0.07);
          background-color: rgba(255,255,255,0.7);
          margin: 40px 0;
        .card-img {
          width: 60%;
          height: auto;
          object-fit: cover;
          padding: 20px 20px 0 20px;
        }
        .card-header {
          margin: 0;
          padding: 20px;
          background-color: var(--color-primary-blue);
          border: none;
          h1 {
            margin: 0;
            padding: 0;
            color: var(--white);
            font-size: 20px;
            .hashtag {
              display: block;
              font-size: 13px;
            }
          }
        }
        .card-body {
          padding: 20px 20px 60px 20px;
          .card-text {
            margin-bottom: 10px;
            &.meta-text {
              border-bottom: 1px solid #DDDDDD;
              padding-bottom: 5px;
            }
          }
          .buttons {
            position: absolute;
            bottom: 20px;
            width: 100%;
            min-height: 35px;

            .card-button {
              display: inline-block;
              position: absolute;
              right: 40px;

              .secondary-button {
                padding: 5px 40px;
                border-radius: 50px;
                font-size: 15px;
                text-transform: uppercase;
                transition: all 0.2s ease-in;
                border: 0;

                &.dark {
                  background-color: var(--color-primary-blue);
                  color: var(--white);
                  position: relative;
                  overflow: hidden;
                  z-index: 1;

                  &::after {
                    content:"";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-primary-blue-hover);
                    z-index: -1;
                    transition: all 0.2s ease-in-out;
                    border-radius: 50px;
                  }
                  &:hover {
                    color: var(--white);

                    &::after {
                      left: 0%;
                    }
                  }
                  &:active {
                    margin-top: 4px;
                  }
                }
                &.light {
                  border: 1px solid var(--color-primary-blue);
                  background-color: var(--color-function-white);
                  color: var(--color-primary-blue);
                }
              }
            }
            .edit-button {
              left: -15px;
              display: inline-block;

              .cog {
                background-color: var(--color-function-white);
                border: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: $xs) {
    .container {
      .row {
        .card {
            background-color: rgba(255,255,255,1);
            margin: 40px 0;
          .card-img {
            width: 100%;
            padding: 20px;
          }
          .card-body {
            padding: 20px 20px 60px 0;
            .card-text {
              margin-bottom: 10px;
            }
            .buttons {
              .card-button {
                right: 20px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: $sm) {
    .container {
      .row {
        .card {
          .card-header {
            h1 {
              font-size: 28px;
              .hashtag {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: $md) {
    .container {
      .row {
        &.alignment {
          min-height: 530px;
        }
      }
    }
  }
  @media(min-width: $lg) {
  }
}
