<section class="teaching-example py-5">
  <div class="container">
    <h3 class="mb-5">Wie können Sie FutureSkills nutzen?</h3>
    <div class="row mb-5">
      <div class="col-12 col-sm-2">
        <h4 class="comic-header tech text-center fs-blob mb-3 var-3">1</h4>
      </div>
      <div class="col-12 col-sm-10">
        <h4>Einbindung von Online-Kursen im Curriculum</h4>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-9">
            <p>
              FutureSkills stellt – auch über die Einbindung weiterer Kursportale wie beispielsweise
              MOOChub.org – eine große Zahl an Online-Kursen bereit. Diese können Studierende als
              Selbstlernangebote belegen. Als Lehrende können Sie diese Kurse nach Belieben als
              ergänzendes Lehrmaterial für Ihre Lehrveranstaltungen oder auch zur Erbringung von
              (Teil-)Studienleistungen nutzen.
            </p>
          </div>
        </div>
        <h4 class="pt-3 mb-3">Beispiele für die Einbindung</h4>
        <div class="container bg-white teaching-example">
          <div class="row mb-3">
            <div class="col-12 col-md-3">
              <div class="h-100 teaching-imgcontainer">
                <img class="mx-auto d-block p-sm-2" src="assets/images/info-teaching-1.png" />
              </div>
            </div>
            <div class="col-12 col-md-9 p-3 teaching-example-text">
              <h5>Medien & Kommunikation und Social Media & Tools</h5>
              <p>
                Im Modul „Kooperationssysteme und Social Media“ (Pflicht- bzw. Wahlpflichtmodul in
                den Studiengängen Informationstechnologie und Design bzw. Informatik/Softwaretechnik
                der TH Lübeck) erbringen die Studierenden eine Teilleistung durch die Belegung der
                Online-Kurse „Medien & Kommunikation“ sowie „Social Media & Tools“. Die Belegung
                kann durch ein automatisch generiertes Zertifikat nachgewiesen werden.
              </p>
            </div>
          </div>
        </div>
        <div class="container bg-white teaching-example">
          <div class="row mb-3">
            <div class="col-12 col-md-3">
              <div class="h-100 teaching-imgcontainer">
                <img class="mx-auto d-block p-sm-2" src="assets/images/info-teaching-2.png" />
              </div>
            </div>
            <div class="col-12 col-md-9 p-3 teaching-example-text">
              <h5>FutureSkills KI</h5>
              <p>
                Das Modul „<a [routerLink]="lnkKICoursePackage">FutureSkills KI</a>“ setzt sich aus
                verschiedenen Online-Kursen zusammen und wird an der CAU Kiel als Wahlmodul (5 ECTS)
                anerkannt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-sm-2">
        <h4 class="comic-header classic text-center fs-blob mb-3 var-2">2</h4>
      </div>
      <div class="col-12 col-sm-10">
        <h4>Nutzung von Lehr-Lernmaterialien in Ihren (Präsenz-) Lehrveranstaltungen</h4>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-9">
            <p>
              Die FutureSkills-Plattform bietet nicht nur komplette Online-Kurse an, sondern wird
              zukünftig auch verschiedenste Lerninhalte und Materialien bereitstellen, die Lehrende
              erstellt haben und mit anderen teilen. Dies können einzelne Vorlesungs- oder
              Lernvideos sein, aber auch aufbereitete Skripte, Übungseinheiten, Animationen uvm. Die
              Materialien stehen unter einer Creative-Commons-Lizenz und können von Ihnen beliebig
              genutzt und auch weiterentwickelt werden (unter Einhaltung der Lizenzbedingungen).
              Somit können Sie beispielsweise schnell aktuelle Themen in eine Vorlesung einbinden
              oder Ihre Lehrveranstaltung durch Nutzung vielfältiger Medien abwechslungsreicher
              gestalten.
            </p>
            <p>
              Sie haben selber Mühe in die Erstellung digitaler Lernmaterialien investiert und
              möchten diese anderen zur Verfügung stellen? Auch dafür können Sie die
              FutureSkills-Plattform zukünftig nutzen!
            </p>
          </div>
        </div>
        <h4 class="pt-3 mb-3">Beispiele für die zukünftige Nutzung</h4>
        <div class="container bg-white teaching-example">
          <div class="row mb-3">
            <div class="col-12 col-md-3">
              <div class="h-100 teaching-imgcontainer">
                <img class="mx-auto d-block p-sm-2" src="assets/images/info-teaching-ki.png" />
              </div>
            </div>
            <div class="col-12 col-md-9 p-3 teaching-example-text">
              <h5>Künstliche Intelligenz</h5>
              <p>
                Prof. Mustermann sucht für seine Vorlesung zum Thema Versicherungsrecht eine
                grundlegende Einführung zum Thema „Künstliche Intelligenz“, um darauf aufbauend mit
                seinen Studierenden zu erörtern, welche Rolle KI-basierte Systeme z.B. bei der
                Schadensbewertung spielen könnten. Er findet eine Vorlesungsaufzeichnung „Grundlagen
                von KI-Systemen“ der Kollegin Prof. Musterfrau der CAU und stellt diese seinen
                Studierenden im Rahmen einer Vorlesungssitzung zur Verfügung.
              </p>
            </div>
          </div>
        </div>
        <div class="container bg-white teaching-example">
          <div class="row mb-3">
            <div class="col-12 col-md-3">
              <div class="h-100 teaching-imgcontainer">
                <img class="mx-auto d-block p-sm-2" src="assets/images/info-teaching-videos.png" />
              </div>
            </div>
            <div class="col-12 col-md-9 p-3 teaching-example-text">
              <h5>Videos bereitstellen</h5>
              <p>
                Prof. Meier hat zusammen mit einem Laboringenieur für ihre Praktika grundlegende
                Versuchsaufbauten gefilmt und den Studierenden zur Nachbereitung zur Verfügung
                gestellt. Da andere Lehrende häufig danach fragten, stellt sie ihre Videos nun stets
                über die FutureSkills-Plattform zur freien Nutzung zur Verfügung.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-2">
        <h4 class="comic-header digital text-center fs-blob mb-3 var-4">3</h4>
      </div>
      <div class="col-12 col-sm-10">
        <h4 class="pt-3 mb-3">Handreichungen für die digitale Lehre</h4>
        <div class="container bg-white teaching-example">
          <div class="row mb-3">
            <div class="col-12 col-md-3">
              <div class="h-100 teaching-imgcontainer">
                <img class="mx-auto d-block p-sm-2" src="assets/images/FSToolbox-Kachel.jpg" />
              </div>
            </div>
            <div class="col-12 col-md-9 p-3 teaching-example-text">
              <h5>Praktische Hilfestellungen für Lehrende</h5>
              <p>
                Die Toolbox stellt Lehrenden verschiedene Informationen und Tipps zur Konzeption und
                Umsetzung digitaler Lehr-/Lernangebote bereit. Sie beinhaltet eine Übersicht
                verschiedener digitaler Tools, geordnet nach den Anwendungsszenarien, für die sie
                eingesetzt werden können, mit einer Darstellung der Potentiale und Nachteile.
                Darüber hinaus beinhaltet die Toolbox Informationen und Hilfestellungen zu Fragen
                des Urheberrechts, zum Auffinden von frei verwendbaren Lernmaterialien sowie eine
                Übersicht zur Verwendung freier Lizenzen.
              </p>
              <fs-card-button-external-link
                [hrefString]="hrefStringToolbox"
              >
                zur Toolbox
              </fs-card-button-external-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
