$base-color: var(--color-primary-blue-dark);

:host::ng-deep ng-multiselect-dropdown .selected-item {
  border-radius: 8px !important;
  background: $base-color !important;
  border: 0.5px solid var(--color-primary-blue) !important;
  max-width: fit-content !important;
  margin-right: 4px !important;
  margin-bottom: 1px;
  margin-top:1px;

  a {
    display: none;
    //padding-left: 4px;
  }
}

:host::ng-deep ng-multiselect-dropdown .selected-item:hover {
  box-shadow: none !important;
}

:host::ng-deep ng-multiselect-dropdown .dropdown-btn {
  border: 1px solid #ced4da !important;
  border-radius: 0px !important;
}

:host::ng-deep ng-multiselect-dropdown .dropdown-multiselect__caret {
  transition: none !important;
}

:host::ng-deep
  ng-multiselect-dropdown
  .multiselect-item-checkbox
  input[type='checkbox']
  + div:before {
  border: 2px solid $base-color !important;
}

:host::ng-deep
  ng-multiselect-dropdown
  .multiselect-item-checkbox
  input[type='checkbox']:checked
  + div:before {
  background: $base-color !important;
}
