$tileWidth: 200px;
$tileHeight: 200px;
$textHeight: 70px;
$arrowTop: 77px;
$base-color: var(--color-primary-blue);
$muted: #6c757d;

.course-carousel {
  position: relative;

  .courses {
    height: $tileHeight + $textHeight;
    width: 100%;

    .course {
      height: $tileHeight;
      width: $tileHeight;

      a {
        text-decoration: none;
      }

      img:before {
        content: ' ';
        display: block;
        position: absolute;
        height: $tileHeight;
        width: $tileHeight;
        background-image: url(~src/styles/ressources/backgrounds/backup.jpg);
      }
    }

    .course-text {
      height: $textHeight;
      width: $tileHeight;
      .text {
        color: $muted;
        width: $tileWidth;
        font-size: 0.7em;
        padding: 5px;
      }
    }
  }

  .carousel-arrow {
    position: absolute;
    top: $arrowTop;

    width: 40px;
    height: 40px;
    background-color: rgba(#fff, 0.5);
    background-repeat: no-repeat;
    background-size: 31px;
    background-position: 50%;
    border-radius: 100px;
    z-index: 10;
    cursor: pointer;

    &.carousel-arrow-left {
      left: 1px;
      fa-icon {
        position: relative;
        top: 8px;
        left: 14px;
        color: #fff;
      }
    }

    &.carousel-arrow-right {
      right: 1px;
      fa-icon {
        position: relative;
        top: 8px;
        left: 15px;
        color: #fff;
      }
    }
  }
}
