<div #courseCarousel *ngIf="sliderIsVisible && sliderData">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="ki-coursecarousel">
          <div class="d-flex justify-content-center align-items-end">
            <div class="courses">
              <owl-carousel-o
                [options]="customOptions"
                #owlCarousel
                (dragging)="isDragging = $event.dragging"
              >
                <ng-container *ngFor="let slide of sliderData">
                  <ng-template carouselSlide [id]="slide.sliderid" [width]="tileWidth">
                    <div class="course">
                      <a [owlRouterLink]="[lnkOffers, slide.id]" [stopLink]="isDragging">
                        <img [src]="slide.image" [title]="slide.title" [alt]="slide.title" />
                      </a>
                    </div>
                    <div class="course-text">
                      <div class="text crop">
                        {{ slide.crop }}
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
