<div class="course-carousel" *ngIf="sliderIsVisible && sliderData">

  <a class="carousel-arrow carousel-arrow-left" (click)="owlCar.prev()">
    <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
  </a>

  <a class="carousel-arrow carousel-arrow-right" (click)="owlCar.next()">
    <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
  </a>

  <div class="d-flex justify-content-center align-items-end">
    <div class="courses">
      <owl-carousel-o
        [options]="customOptions"
        #owlCarousel
        (initialized)="getData($event)"
        (dragging)="isDragging = $event.dragging"
      >
        <ng-container *ngFor="let slide of sliderData">
          <ng-template carouselSlide [id]="slide.sliderid" [width]="tileWidth">
            <div class="course">
              <a [owlRouterLink]="[lnkOffers, slide.id]" [stopLink]="isDragging">
                <img [src]="slide.image" [title]="slide.title" [alt]="slide.title" />
              </a>
            </div>
            <div class="course-text">
              <div class="text crop">
                {{slide.crop}}
            </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
