$tileWidth: 200px;
$tileHeight: 200px;
$textHeight: 70px;
$base-color: var(--color-primary-blue);

.course-carousel {
  .courses {
    height: $tileHeight + $textHeight;
    width: 100%;

    .course {
      height: $tileHeight;
      width: $tileHeight;

      a {
        text-decoration: none;
      }

      img:before {
        content: ' ';
        display: block;
        position: absolute;
        height: $tileHeight;
        width: $tileHeight;
        background-image: url(~src/styles/ressources/backgrounds/backup.jpg);
      }
    }

    .course-text{
      height: $textHeight;
      width: $tileHeight;
      .text {
        color: $base-color;
        width: $tileWidth;
        font-size: 0.7em;
        padding: 5px;
      }
    }
  }

  .carousel-arrow {
    width: 40px;
    height: 40px;
    background-color: $base-color;
    background-repeat: no-repeat;
    background-size: 31px;
    background-position: 50%;
    border-radius: 100px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);

    &.carousel-arrow-left {
      fa-icon {
        position: relative;
        top: 8px;
        left: 14px;
        color: #fff;
      }
      //left: 2%;
    }

    &.carousel-arrow-right {
      fa-icon {
        position: relative;
        top: 8px;
        left: 15px;
        color: #fff;
      }
      //right: 2%;
    }
  }
}
