<div
  class="sentiment-example"
  [ngClass]="{ modus_window: modus === 'window', modus_modal: modus === 'modal' }"
>
  <div class="row">
    <div class="col-10">
      <p>
        Bei einer Sentimentanalyse oder auch Stimmungsanalyse wird ein Text automatisiert nach
        geäußerten Gefühlen oder Meinungen ausgewertet und klassifiziert. Dieses Beispiel basiert
        auf das Filmrezensions-Dataset der Internet Movie Database (IMDB) und bewertet die Äußerung
        auf einer Skala von 0-1. Das Modell basiert auf englischen Texten.
      </p>
      <p>Du kannst folgende Textbeispiele ausprobieren oder eigene (englische) Texte eingeben.</p>
    </div>
  </div>

  <p class="mt-3 mb-3" *ngFor="let alert of alertList.alerts">
    <ngb-alert [type]="alert.type" (closed)="alertList.closeAlert(alert)">{{
      alert.message
    }}</ngb-alert>
  </p>

  <div class="row mt-3 mb-5">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="selectExampleText">Beispieltexte</label>
            <select class="form-control form-control-sm" id="selectExampleText" (change)="onSelectChange($event.target.value)">
              <option value="" selected disabled hidden>Choose Example</option>
              <option>This is one of my three all-time favorite movies.</option>
              <option>This is a film which should be seen by anybody interested in.</option>
              <option>I can not form an opinion.</option>
              <option>I don't want you to waste your time when you could see something else.</option>
              <option>This movie was absolutely terrible.</option>
            </select>
          </div>
          <div class="form-group">
            <textarea
              class="form-control form-control-sm"
              name="textArea"
              [(ngModel)]="textAreaText"
              [ngModelOptions]="{standalone: true}"
              rows="5"
              placeholder="min. 5 characters"
              maxlength="255"
            ></textarea>
          </div>
          <button
            class="btn btn-outline-primary btn-sm float-left"
            type="button"
            [disabled]="textAreaText.length<5"
            (click)="checkSentiment()"
          >
            Auswerten
          </button>
          <button class="btn btn-link btn-sm float-right" type="button" (click)="deleteBox()">
            Text löschen
          </button>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="sentiment-header">Auswertung</div>
      <div class="sentiment-box">
        <div class="float-left"> {{ sentimentText }}</div>
        <div class="float-right emoji" [ngClass]="{
          'vnegative' : emojiIndex==0, 
          'negative' : emojiIndex==1, 
          'neutral' : emojiIndex==2, 
          'positive' : emojiIndex==3, 
          'vpositive' : emojiIndex==4
        }"> {{ sentimentNumber }}</div>
      </div>
    </div>
  </div>

  <!-- <div class="row mt-5">
    <div class="col-sm">
      <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="toggle-1">
        <ngb-panel id="toggle-1" title="Die Sentimentanalyse" class="accordion-panel">
          <ng-template ngbPanelContent>
            <div>
              Bei einer Sentimentanalyse oder auch Stimmungsanalyse wird ein Text automatisiert nach
              geäußerten Gefühlen oder Meinungen ausgewertet. Ein Text wird anhand seiner Wörter
              klassifiziert und innerhalb einer Skala als positiv, negativ oder neutral
              eingestuft.<br />
              Anwendungsbeispiele finden sich in der Analyse von Literatur, für die Klassifizierung
              von Kommentaren, bspw. in Blogs, Social Media Anwendungen oder Produktbewertungen.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Weitere Infos" class="accordion-panel">
          <ng-template ngbPanelContent>
            <div>
              <ul>
                <li>...</li>
                <li>...</li>
              </ul>
              <p>...</p>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div> -->
</div>
