$base-color: var(--color-primary-blue-dark);
$tileWidth: 200px;

.offer-tile-wrapper {
  width: $tileWidth;
  height: $tileWidth;
  border: 1px solid #102d5d21;
  overflow: hidden;

  .offer-tile-header {
    width: 100%;
    height: 100%;
    background: rgb(212, 221, 230);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgb(212, 221, 230) 100%);

    .offer-tile-header-image {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-size: cover;
      background-position: center center;
    }

    .offer-tile--text {
      color: #fff;
      font-size: 0.7em;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 5px;
    }
  }
}
