<footer class="bg-primary text-white py-3">
  <div class="container border-white pt-3 footer-fundamentals">
    <div class="row">
      <div class="col-12">
        <ul class="d-flex justify-content-start">
          <li><a [routerLink]="lnkImprint">Impressum</a></li>
          <li><a [routerLink]="lnkPrivacy">Datenschutz</a></li>
          <li><a [routerLink]="lnkInfoStudents">Infos für Studierende</a></li>
          <li><a [routerLink]="lnkInfoTeaching">Infos für Lehrende</a></li>
          <li><a [routerLink]="lnkOffers">Alle Kurse</a></li>
          <li><a [routerLink]="lnkLanding">FutureSkills</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
