<p>
  Folgende Kurse zum Thema künstliche Intelligenz und neuronale Netze sind auf FutureSkills
  verfügbar:
</p>

<ul class="list-unstyled">
  <li class="media">
    <a class="clickable" (click)="goToUrl(lnkCoursePath1)">
      <img
        src="assets/images/ki-tools/fs_ki_neuronalenetze_kachelbild.jpg"
        class="align-self-center mr-3 fs-kurs"
        alt="KI Kurs Neuronale Netze"
      />
    </a>
    <div class="media-body">
      <h5 class="mt-0 mb-1">Neuronale Netze - Konzeption und Nutzung</h5>
      <p>
        Der Kurs vermittelt ein grundlegendes Verständnis darüber, welche Arten der Künstlichen
        Intelligenz es gibt und wann welche Art genutzt wird. Der Schwerpunkt liegt dabei auf der
        Beschreibung neuronaler Netze und ihrer Wirkungsweise.
      </p>
    </div>
  </li>
  <li class="media my-4">
    <a class="clickable" (click)="goToUrl(lnkCoursePath2)">
      <img
        src="assets/images/ki-tools/fs_ki_modul_ki_kachelbild.jpg"
        class="align-self-center mr-3 fs-kurs"
        alt="KI Modulkurs"
    /></a>
    <div class="media-body">
      <h5 class="mt-0 mb-1">Future Skills KI</h5>
      <p>
        Das Modul setzt sich aus 14 Online-Kursen zusammen.<br />
        z.B.: Künstliche Intelligenz einfach erklärt, Neuronale Netze - Konzeption und Nutzung, KI -
        Der Weg zur Anwendung, KI in der Bildverarbeitung
      </p>
    </div>
  </li>
</ul>
