<section class="herocontainer component-section py-sm-4 py-md-5 py-3 noselect">

  <div class='container'>

    <div class="row">
      <div class='col-sm-12'>

        <ngb-carousel class="carousel-fade" [animation]="'fade'">
          <ng-template ngbSlide>
            <h1 class="comic-header classic"><span>Träume werden wahr</span>
              FutureSkills >> Classic-Kurse</h1>
            <img srcset="assets/images/kjell-persona-sm.png 200w, assets/images/kjell-persona-md.png 280w, assets/images/kjell-persona-lg.png 350w"
            sizes="(max-width: 576px) 35vw, (max-width: 767.98px) 200px, (max-width: 991.98px) 280px, (min-width: 992px) 350px, 350px"
            class="hero-persona tim"
              alt="Kjell sucht nach Classic-Kursen auf Futureskills."
              src="assets/images/kjell-persona-lg.png">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 751 354" style="enable-background:new 0 0 751 354;" xml:space="preserve" class="speechballoon classic float-right">
            <defs>
              <filter id="shadow-1">
                <feDropShadow dx="0" dy="0" stdDeviation="10" flood-color="#000000" flood-opacity="0.7" />
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)">
                <g id="speechballoon-1" transform="translate(72.68 60.84) rotate(7)">
                <path style="filter:url(#shadow-1);" class="speechballoon-center" d="M220.6,247.5c-15.6,0-29.2-2.3-41.4-7.1c-33.4-13-66.9-40.5-91.9-75.2l-3.4-4.8l-5.8,0.9L-6,173.4l62.8-48.9
                l5.5-4.3l-2.2-6.5c-3.9-11.3-5.8-21.5-5.8-30.4c0-74.9,185.4-179,367.9-179c6.8,0,13.5,0.2,20.3,0.5
                C631.3-86.5,670.9,6.8,670.9,83.5c0,7.7,0.5,15.1,0.9,22.3c3,49.7,5.2,85.8-171.5,110.9c-38.3,9.2-125.1,15.6-127.2,15.8
                c0,0,0,0-0.1,0c-1,0-7.1,0.1-10.4,0.1c-29.5,0-56,4.3-81.5,8.5C259.6,244.2,239.4,247.5,220.6,247.5L220.6,247.5z"/>
                <path class="speechballoon-border" d="M220.6,237.8c18,0,37.9-3.2,58.8-6.6c24.7-4,52.8-8.6,83.1-8.6c3.1,0,8.7-0.1,10.4-0.1
                c7.6-0.6,88.9-6.7,124.1-15.3l0.9-0.2l1-0.1c167.8-23.8,166-54.4,163.1-100.7c-0.5-7.3-0.9-14.9-0.9-22.9
                C661.2,11,623.1-77.2,442-85.5c-6.6-0.3-13.2-0.5-19.9-0.5C249.2-86,63.9,13.4,63.9,83.3c0,7.7,1.8,17,5.3,27.2l4.5,13.1
                l-10.9,8.6L29,158.4l47.8-6.9l11.7-1.7l6.9,9.6c23.9,33.3,55.8,59.5,87.5,71.8C194,235.7,206,237.8,220.6,237.8L220.6,237.8
                M220.6,257.2c-15.5,0-30.4-2-45-7.8c-38.6-15.1-72.5-45.7-96.3-78.7L-41,188.3l91.8-71.4c-4.1-12.1-6.3-23.5-6.3-33.5
                c0-84.4,196.8-188.7,377.7-188.7c6.9,0,13.8,0.2,20.7,0.5C629.1-96.3,680.7-4.2,680.7,83.5c0,62.8,31.4,112.8-179,142.7
                c-38.8,9.2-127.9,15.7-127.9,15.7s-7.4,0.1-11.3,0.1C308.4,242,262.5,257.2,220.6,257.2z"/>
                </g>
              </g>
              <g id="speechballoon-text" transform="translate(232.485 181.187) rotate(-3)" class="st2">
                <text transform="matrix(1 0 0 1 29.3434 -55.3565)" class="st3 st4">Ich studiere Soziale Arbeit.</text>
                <text transform="matrix(1 0 0 1 -30.5154 -6.6866)" class="st3 st4">Mit den Studies aus der Kunst-</text>
                <text transform="matrix(1 0 0 1 -3.5091 41.9843)" class="st3 st4">hochschule entwerfen wir jetzt</text>
                <text transform="matrix(1 0 0 1 20.7453 90.6542)" class="st3 st4">Seminare für Tech-Start-ups.</text>
              </g>
            </svg>
          </ng-template>
          <ng-template ngbSlide>
            <h1 class="comic-header tech"><span>Träume werden wahr</span>
              FutureSkills >> Tech-Kurse</h1>
            <img srcset="assets/images/tim-persona-sm.png 200w, assets/images/tim-persona-md.png 280w, assets/images/tim-persona-lg.png 350w"
            sizes="(max-width: 576px) 35vw, (max-width: 767.98px) 200px, (max-width: 991.98px) 280px, (min-width: 992px) 350px, 350px"
            class="hero-persona tim"
              alt="Tim sucht nach Tech-Kursen auf Futureskills."
              src="assets/images/tim-persona-lg.png">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 751 354" style="enable-background:new 0 0 751 354;" xml:space="preserve" class="speechballoon tech float-right">
            <defs>
              <filter id="shadow-2">
                <feDropShadow dx="0" dy="0" stdDeviation="10" flood-color="#000000" flood-opacity="0.7" />
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)">
                <g id="speechballoon-2" transform="translate(72.68 60.84) rotate(7)">
                <path style="filter:url(#shadow-2);" class="speechballoon-center" d="M220.6,247.5c-15.6,0-29.2-2.3-41.4-7.1c-33.4-13-66.9-40.5-91.9-75.2l-3.4-4.8l-5.8,0.9L-6,173.4l62.8-48.9
                l5.5-4.3l-2.2-6.5c-3.9-11.3-5.8-21.5-5.8-30.4c0-74.9,185.4-179,367.9-179c6.8,0,13.5,0.2,20.3,0.5
                C631.3-86.5,670.9,6.8,670.9,83.5c0,7.7,0.5,15.1,0.9,22.3c3,49.7,5.2,85.8-171.5,110.9c-38.3,9.2-125.1,15.6-127.2,15.8
                c0,0,0,0-0.1,0c-1,0-7.1,0.1-10.4,0.1c-29.5,0-56,4.3-81.5,8.5C259.6,244.2,239.4,247.5,220.6,247.5L220.6,247.5z"/>
                <path class="speechballoon-border" d="M220.6,237.8c18,0,37.9-3.2,58.8-6.6c24.7-4,52.8-8.6,83.1-8.6c3.1,0,8.7-0.1,10.4-0.1
                c7.6-0.6,88.9-6.7,124.1-15.3l0.9-0.2l1-0.1c167.8-23.8,166-54.4,163.1-100.7c-0.5-7.3-0.9-14.9-0.9-22.9
                C661.2,11,623.1-77.2,442-85.5c-6.6-0.3-13.2-0.5-19.9-0.5C249.2-86,63.9,13.4,63.9,83.3c0,7.7,1.8,17,5.3,27.2l4.5,13.1
                l-10.9,8.6L29,158.4l47.8-6.9l11.7-1.7l6.9,9.6c23.9,33.3,55.8,59.5,87.5,71.8C194,235.7,206,237.8,220.6,237.8L220.6,237.8
                M220.6,257.2c-15.5,0-30.4-2-45-7.8c-38.6-15.1-72.5-45.7-96.3-78.7L-41,188.3l91.8-71.4c-4.1-12.1-6.3-23.5-6.3-33.5
                c0-84.4,196.8-188.7,377.7-188.7c6.9,0,13.8,0.2,20.7,0.5C629.1-96.3,680.7-4.2,680.7,83.5c0,62.8,31.4,112.8-179,142.7
                c-38.8,9.2-127.9,15.7-127.9,15.7s-7.4,0.1-11.3,0.1C308.4,242,262.5,257.2,220.6,257.2z"/>
                </g>
              </g>
              <g id="speechballoon_text" transform="translate(232.485 181.187) rotate(-3)" class="st2">
                <text transform="matrix(1 0 0 1 29.3434 -55.3565)" class="st3 st4">Ich studiere Grundschul-</text>
                <text transform="matrix(1 0 0 1 -30.5154 -6.6866)" class="st3 st4">lehramt und arbeite an einem</text>
                <text transform="matrix(1 0 0 1 -3.5091 41.9843)" class="st3 st4">Unterrichtskonzept, in dem es um</text>
                <text transform="matrix(1 0 0 1 20.7453 90.6542)" class="st3 st4">Science Fiction für Kinder geht.</text>
              </g>
            </svg>
          </ng-template>
          <ng-template ngbSlide>
            <h1 class="comic-header digital"><span>Träume werden wahr</span>
              FutureSkills >> Digital Basic-kurse</h1>
            <img srcset="assets/images/nadia-persona-sm.png 305w, assets/images/nadia-persona-md.png 430w, assets/images/nadia-persona-lg.png 539w"
            sizes="(max-width: 576px) 50vw, (max-width: 767.98px) 305px, (max-width: 991.98px) 430px, (min-width: 992px) 539px, 539px"
            class="hero-persona nadia"
              alt="Nadia sucht nach Digital-Basic-Kursen auf Futureskills."
              src="assets/images/nadia-persona-lg.png">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 751 354" style="enable-background:new 0 0 751 354;" xml:space="preserve" class="speechballoon digital float-right">
            <defs>
              <filter id="shadow-3">
                <feDropShadow dx="0" dy="0" stdDeviation="10" flood-color="#000000" flood-opacity="0.7" />
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)">
                <g id="speechballoon-3" transform="translate(72.68 60.84) rotate(7)">
                <path style="filter:url(#shadow-3);" class="speechballoon-center" d="M220.6,247.5c-15.6,0-29.2-2.3-41.4-7.1c-33.4-13-66.9-40.5-91.9-75.2l-3.4-4.8l-5.8,0.9L-6,173.4l62.8-48.9
                l5.5-4.3l-2.2-6.5c-3.9-11.3-5.8-21.5-5.8-30.4c0-74.9,185.4-179,367.9-179c6.8,0,13.5,0.2,20.3,0.5
                C631.3-86.5,670.9,6.8,670.9,83.5c0,7.7,0.5,15.1,0.9,22.3c3,49.7,5.2,85.8-171.5,110.9c-38.3,9.2-125.1,15.6-127.2,15.8
                c0,0,0,0-0.1,0c-1,0-7.1,0.1-10.4,0.1c-29.5,0-56,4.3-81.5,8.5C259.6,244.2,239.4,247.5,220.6,247.5L220.6,247.5z"/>
                <path class="speechballoon-border" d="M220.6,237.8c18,0,37.9-3.2,58.8-6.6c24.7-4,52.8-8.6,83.1-8.6c3.1,0,8.7-0.1,10.4-0.1
                c7.6-0.6,88.9-6.7,124.1-15.3l0.9-0.2l1-0.1c167.8-23.8,166-54.4,163.1-100.7c-0.5-7.3-0.9-14.9-0.9-22.9
                C661.2,11,623.1-77.2,442-85.5c-6.6-0.3-13.2-0.5-19.9-0.5C249.2-86,63.9,13.4,63.9,83.3c0,7.7,1.8,17,5.3,27.2l4.5,13.1
                l-10.9,8.6L29,158.4l47.8-6.9l11.7-1.7l6.9,9.6c23.9,33.3,55.8,59.5,87.5,71.8C194,235.7,206,237.8,220.6,237.8L220.6,237.8
                M220.6,257.2c-15.5,0-30.4-2-45-7.8c-38.6-15.1-72.5-45.7-96.3-78.7L-41,188.3l91.8-71.4c-4.1-12.1-6.3-23.5-6.3-33.5
                c0-84.4,196.8-188.7,377.7-188.7c6.9,0,13.8,0.2,20.7,0.5C629.1-96.3,680.7-4.2,680.7,83.5c0,62.8,31.4,112.8-179,142.7
                c-38.8,9.2-127.9,15.7-127.9,15.7s-7.4,0.1-11.3,0.1C308.4,242,262.5,257.2,220.6,257.2z"/>
                </g>
              </g>
              <g id="speechballoon_text" transform="translate(232.485 181.187) rotate(-3)" class="st2">
                <text transform="matrix(1 0 0 1 29.3434 -55.3565)" class="st3 st4">Ich bin BWL-erin und arbeite</text>
                <text transform="matrix(1 0 0 1 -30.5154 -6.6866)" class="st3 st4">jetzt an einem Bio-Chip,</text>
                <text transform="matrix(1 0 0 1 -3.5091 41.9843)" class="st3 st4">der Hatespeech erkennt</text>
                <text transform="matrix(1 0 0 1 20.7453 90.6542)" class="st3 st4">bevor sie ausgesprochen wird.</text>
              </g>
            </svg>
          </ng-template>
      </ngb-carousel>

      </div><!-- end of .col-12 -->
    </div><!-- end of .row -->

    <fs-round-button [routerLink]="lnkOffers" class="btn-cta">Zeige alle Kurse</fs-round-button>

  </div><!-- end of .container -->

</section>
