<section class="intro-banner py-5">

  <div class="container-fluid" style="position: relative;">
    <div class="row  align-items-center h-100">

      <div class="col-12 offset-lg-1 col-lg-11">
        <div class="blob-container">
          <h1 class="comic-header classic">Skills für die Zukunft</h1>
          <h2 class="intro-advantage"><span class="comic-header classic">1.</span>Interessante Kurse finden</h2>
          <h2 class="intro-advantage"><span class="comic-header classic">2.</span>Digitale Lernmaterialien nutzen</h2>
          <h2 class="intro-advantage"><span class="comic-header classic">3.</span>Kompetenzen weiterentwickeln</h2>
          <h2 class="intro-advantage"><span class="comic-header classic">4.</span>Zertifikaten erwerben</h2>
        </div>
      </div>
      <fs-round-button [routerLink]="lnkOffers" class="btn-cta">Zeige alle Kurse</fs-round-button>

    </div> <!-- end of .row -->
  </div> <!-- end of .container -->

</section>
