@import '../../../styles/management.scss';

#offer-edit{

  .minIcon {
    width: 80px;
  }

  fieldset {
    legend {
      display: inline-block;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }

    .checkcontainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .custom-control-label::before,
      .custom-control-label::after {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}
