$tileWidth: 150px;
$tileHeight: 150px; //350
$base-color: var(--color-primary-blue-dark);

.course-carousel {
  .courses {
    height: $tileHeight;
    width: 100%;
    background-color: aqua;

    .course {
     height: $tileHeight;
     width: $tileHeight;
    // background-color: blueviolet;
    }
  }

  .carousel-arrow {
    width: 40px;
    height: 40px;
    background-color: $base-color;
    background-repeat: no-repeat;
    background-size: 31px;
    background-position: 50%;
    border-radius: 100px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);

    &.carousel-arrow-left {
      fa-icon {
        position: relative;
        top: 8px;
        left: 14px;
        color: #fff;
      }
      //left: 2%;
    }

    &.carousel-arrow-right {
      fa-icon {
        position: relative;
        top: 8px;
        left: 15px;
        color: #fff;
      }
      //right: 2%;
    }
  }
}


.custom-carousel-nav {
  width: 40px;
  height: 40px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 31px;
  background-position: 50%;
  border-radius: 100px;


  &.left {
   // background: url(~src/styles/ressources/backgrounds/chevron_left_black_36dp.svg) no-repeat scroll 0 0;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  }


  &.right {
    //background: url(~src/styles/ressources/backgrounds/chevron_right_black_36dp.svg) no-repeat scroll 0 0;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  }

}



