<div class="course-carousel" *ngIf="sliderIsVisible && sliderData">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="courses">
          <owl-carousel-o [options]="customOptions" #owlCarousel (initialized)="getData($event)">
            <ng-container *ngFor="let slide of sliderData">
              <ng-template carouselSlide [id]="slide.sliderid" [width]="150">
                <img class="course" [src]="slide.image" [alt]="slide.title" [title]="slide.title" />
                <!--<fs-small-kioffer-tile [offerForTile]="slide"></fs-small-kioffer-tile>-->
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid">
  <div class="d-flex justify-content-center mt-3 mb-5">
    <div class="carousel-arrow carousel-arrow-left mr-2" (click)="prev()">
      <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
    </div>
    <div class="carousel-arrow carousel-arrow-right ml-2" (click)="next()">
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
  </div>
</div> -->
</div>
