<div class="fs-multiselect">
  <span class="dropdown-field" (click)="collapse.toggle()">
    <div class="chipArea">
      <div class="chip" *ngFor="let selected of selectedKeyWordList">
        <span>{{ selected.item }}</span>
      </div>
    </div>

    <span class="toggleArea">
      <span class="caret">
        <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
      </span>
    </span>
  </span>
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <div class="custom-control custom-checkbox" *ngFor="let keyword of availableKeyWordList">
        <input
          type="checkbox"
          class="custom-control-input"
          id="check-{{ keyword.key }}"
          value="{{ keyword.key }}"
          (change)="onCheckBoxChanged(keyword)"
          [checked]="checkBoxIsSelected(keyword)"
        />
        <label class="custom-control-label" for="check-{{ keyword.key }}">{{ keyword.item }}</label>
      </div>
    </div>
  </div>
</div>

<div *ngIf="deletedError">
  <div class="alert alert-danger" role="alert">
    Es wurden Einträge gefunden, die in dieser Keyword-Liste nicht mehr vorhanden sind. Diese werden
    beim Speichern gelöscht, wenn Keywords verändert werden.
  </div>
</div>
