.ki-playground {
  .fs-nav-explain {
    fa-icon {
      font-size: smaller;
    }
    ul {
      font-size: smaller;
      margin-top: 10px;
    }
    a.fs-extern-link {
      text-decoration: underline;
    }
  }
  img.fs-kurs {
    width: 70px;
    height: 70px;
  }
}
