:root
{
--color-tech: #786fad;
--color-digital: #00a1aa;
--color-classic: #048acb;
--color-primary-blue: #003064;
--color-primary-blue-dark: #001E49;
--color-primary-red: #d4004b;
--color-secondary-pink: #D62F87;
--color-secondary-light-blue: #00A0C9;
--color-secondary-dark-blue: #3A78B8;
--color-secondary-purple: #B55C9C;
--color-secondary-turquise: #1EAE9C;
--color-function-white: #FFFFFF;
--color-function-black: #000000;
--color-function-grey: #A4ADB6;
--color-primary-blue-hover: #0062CC;
}

body {
    min-width: 320px;
}

:focus {
    outline: none;
}

.main-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}
