@import "breakpoints";

@font-face {
  font-family: 'Bangers';
  src: url('~src/styles/ressources/fonts/Bangers-Regular.eot');
  src: url('~src/styles/ressources/fonts/Bangers-Regular.eot?#iefix') format('embedded-opentype'),
      url('~src/styles/ressources/fonts/Bangers-Regular.woff2') format('woff2'),
      url('~src/styles/ressources/fonts/Bangers-Regular.woff') format('woff'),
      url('~src/styles/ressources/fonts/Bangers-Regular.ttf') format('truetype'),
      url('~src/styles/ressources/fonts/Bangers-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ArchitectsDaughter';
  src: url('~src/styles/ressources/fonts/ArchitectsDaughter-Regular.eot');
  src: url('~src/styles/ressources/fonts/ArchitectsDaughter-Regular.eot?#iefix') format('embedded-opentype'),
      url('~src/styles/ressources/fonts/ArchitectsDaughter-Regular.woff2') format('woff2'),
      url('~src/styles/ressources/fonts/ArchitectsDaughter-Regular.woff') format('woff'),
      url('~src/styles/ressources/fonts/ArchitectsDaughter-Regular.ttf') format('truetype'),
      url('~src/styles/ressources/fonts/ArchitectsDaughter-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~src/styles/ressources/fonts/OpenSans-LightItalic.eot');
  src: url('~src/styles/ressources/fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('~src/styles/ressources/fonts/OpenSans-LightItalic.woff2') format('woff2'),
      url('~src/styles/ressources/fonts/OpenSans-LightItalic.woff') format('woff'),
      url('~src/styles/ressources/fonts/OpenSans-LightItalic.ttf') format('truetype'),
      url('~src/styles/ressources/fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~src/styles/ressources/fonts/OpenSans-Italic.eot');
  src: url('~src/styles/ressources/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('~src/styles/ressources/fonts/OpenSans-Italic.woff2') format('woff2'),
      url('~src/styles/ressources/fonts/OpenSans-Italic.woff') format('woff'),
      url('~src/styles/ressources/fonts/OpenSans-Italic.ttf') format('truetype'),
      url('~src/styles/ressources/fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~src/styles/ressources/fonts/OpenSans-BoldItalic.eot');
  src: url('~src/styles/ressources/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('~src/styles/ressources/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
      url('~src/styles/ressources/fonts/OpenSans-BoldItalic.woff') format('woff'),
      url('~src/styles/ressources/fonts/OpenSans-BoldItalic.ttf') format('truetype'),
      url('~src/styles/ressources/fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~src/styles/ressources/fonts/OpenSans-Regular.eot');
  src: url('~src/styles/ressources/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('~src/styles/ressources/fonts/OpenSans-Regular.woff2') format('woff2'),
      url('~src/styles/ressources/fonts/OpenSans-Regular.woff') format('woff'),
      url('~src/styles/ressources/fonts/OpenSans-Regular.ttf') format('truetype'),
      url('~src/styles/ressources/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~src/styles/ressources/fonts/OpenSans-Bold.eot');
  src: url('~src/styles/ressources/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('~src/styles/ressources/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('~src/styles/ressources/fonts/OpenSans-Bold.woff') format('woff'),
      url('~src/styles/ressources/fonts/OpenSans-Bold.ttf') format('truetype'),
      url('~src/styles/ressources/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~src/styles/ressources/fonts/OpenSans-Light.eot');
  src: url('~src/styles/ressources/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('~src/styles/ressources/fonts/OpenSans-Light.woff2') format('woff2'),
      url('~src/styles/ressources/fonts/OpenSans-Light.woff') format('woff'),
      url('~src/styles/ressources/fonts/OpenSans-Light.ttf') format('truetype'),
      url('~src/styles/ressources/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

/* typography im portal */
html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p,
li,
.course-detail-text,
.metadata-content,
.meta-text {
  font-size: 16px;
  font-weight: normal;
}

@media(min-width: $xs) {
  p,
  li,
  .course-detail-text,
  .metadata-content,
  .meta-text {
    font-size: 17px;
  }
}
@media(min-width: $sm) {
  p,
  li,
  .course-detail-text,
  .metadata-content,
  .meta-text {
    font-size: 18px;
  }
}
@media(min-width: $md) {
}
@media(min-width: $lg) {
}

/* comic header */
.comic-header {
  font-family: Bangers, sans-serif;
  font-size: 72px;
  text-shadow: 7px 7px 10px rgba(0,0,0,0.5);
  -webkit-text-stroke: 2px #ffffff;

  &.classic {
    color: var(--color-classic);
  }
  &.digital {
    color: var(--color-digital);
  }
  &.tech {
    color: var(--color-tech);
  }
  span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    display: block;
  }
}
@media(max-width: $md) {
  .comic-header {
    font-size: 55px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px #ffffff;

    span {
      font-size: 30px;
    }
  }
}
@media(max-width: $sm) {
  .comic-header {
    font-size: 40px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    -webkit-text-stroke: 1px #ffffff;

    span {
      font-size: 22px;
    }
  }
}
@media(max-width: $xs) {
  .comic-header {
    font-size: 34px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    -webkit-text-stroke: 1px #ffffff;

    span {
      font-size: 21px;
    }
  }
}
@media (max-width: 480px) {
  .comic-header {
    font-size: 32px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    -webkit-text-stroke: 1px #ffffff;

    span {
      font-size: 20px;
    }
  }
}
@media (max-width: 430px) {
  .comic-header {
    font-size: 32px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    -webkit-text-stroke: 1px #ffffff;

    span {
      font-size: 20px;
    }
  }
}
@media (max-width: 364px) {
  .comic-header {
    font-size: 30px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    -webkit-text-stroke: 1px #ffffff;

    span {
      font-size: 20px;
    }
  }
}
